<div class="container">
  <form [formGroup]="matiereForm">
    <mat-card class="shipping-card">
      <mat-card-header>
        <div class="box">
          <div class="back-box">
            <button [routerLink]="'/admin/matieres/list-matieres/'"
                    matTooltip="Retour vers la liste des matières" mat-mini-fab color="primary">
              <mat-icon>replay</mat-icon>
            </button>
          </div>
          <div class="title-box">
            Affichage de la matière
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="nature" matInput placeholder="Nature"/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="color" matInput placeholder="Couleur"/>
            </mat-form-field>
          </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input formControlName="paysOrigin" matInput placeholder="Pays d'origine"/>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput formControlName="caracteristiques" placeholder="Caractéristiques"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="price" matInput placeholder="Prix"/>
              <mat-icon matSuffix class="money-icon">euro</mat-icon>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="dateRepriseStock" matInput placeholder="Date de reprise du stock">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="imagePath" placeholder="Image du cuir"/>
            </mat-form-field>
            <div class="container-image">
              <img [src]="imageSrc" class="imageUpload">
            </div>
          </div>
          <div class="col">
            <label class="show-label">Tag de Rupture</label>
            <mat-radio-group formControlName="rupture" class="tag-rupture-radio" required>
              <mat-radio-button value="1" class="left-radio">En rupture</mat-radio-button>
              <mat-radio-button value="0" >En Stock</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 matSubheader class="subheader">Modèles</h3>
            <mat-list disableRipple>
              <mat-list-item *ngFor="let modele of modelesList">
                <button mat-icon-button (click)="showModele(modele.uuid)"><mat-icon>visibility</mat-icon></button>
                {{ modele.name }}
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
