<form (submit)="valide()" [formGroup]="form" class="form">
  <div class="btn-close">
    <button (click)="close()">
      <svg-icon [svgStyle]="{ 'width.px':30, 'height.px':30}"  src="assets/svg/croixpopup.svg"></svg-icon>
    </button>
  </div>
  <span mat-dialog-title class="dialog-title" [innerText]="step=='appointment' ? 'Affin de vous offrir une expérience personnalisée et un service d’exception, nous vous invitons à réserver votre rendez-vous ci-dessous' :
  step === 'customer' ? 'Merci de renseigner ces information pour valider votre RDV': 'Rendez-vous est bien enregistré.'"></span>
  <span mat-dialog-title class="dialog-title">
    l'équipe <svg-icon src="assets/svg/MF.svg" [svgStyle]="{ 'width.px':40, 'verticalAlign':'middle'}"></svg-icon>
  </span>
  <div class="appointment-form">
    <div class="alert mat-error" *ngIf="messageErrors !== ''">{{messageErrors}}</div>
    <div *ngIf="step === 'appointment'" class="appointmentsCalendar" formGroupName="appointment">
      <div class="calendar">
        <mat-calendar [selected]="selectedDate" [minDate]="minDate"
                      (selectedChange)="loadAppointments($event)"></mat-calendar>
      </div>
      <div class="availableTime">
        <mat-selection-list [multiple]="false" #appointmentListe formControlName="hour">
          <mat-list-option
            *ngFor="let availableTime of availableTimes"
            [value]="availableTime.hour"
            [selected]="selectedHour == availableTime.hour"
            [disabled]="availableTime.isDisabled"
            [title]="availableTime.isDisabled ? 'résérvé': 'disponible'">
            {{availableTime.hour}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <div *ngIf="step === 'customer'" class="customer-info" formGroupName="client">
      <div class="form-element">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" formControlName="name" required/>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom" formControlName="lastName" required/>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" required/>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-form-field >
          <mat-label>Phone</mat-label>
          <input matInput type="tel" placeholder="Téléphone 0668200000" formControlName="phone" required/>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-form-field >
          <mat-label>Adresse</mat-label>
          <input matInput placeholder="adresse" formControlName="address"/>
        </mat-form-field>
      </div>
      <div class="form-element city-zip-code">
        <mat-form-field class="zip">
          <mat-label>Code Postal</mat-label>
          <input matInput placeholder="code postal" formControlName="zipCode"/>
        </mat-form-field>
        <mat-form-field class="city">
          <mat-label>Ville</mat-label>
          <input matInput placeholder="ville" formControlName="ville"/>
        </mat-form-field>
      </div>
    </div>
    <mat-dialog-actions class="actions" *ngIf="step !== 'success'">
      <button class="back" mat-stroked-button (click)="back()" *ngIf="step==='customer'">Retour</button>
      <button class="valid" mat-stroked-button color="primary" [type]="step=== 'customer'? 'submit':'button'"
              (click)="next()">Valider
      </button>
    </mat-dialog-actions>
    <div *ngIf="step === 'success'" class="customer-info">
      <p></p>
    </div>
  </div>
</form>
