.form {
  position: relative;
  .btn-close {
    position: absolute;
    width: 20px;
    right: 10px;
    button {
      border: none;
      padding: 0;
      background-color: white;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      img {
        background-color: white;
        width: 100%;
      }
    }
  }
}

.alert {
  text-align: center;
}


::ng-deep .dialog-title {
  font-family: 'mf-italic';
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-size: 16px;
}

.appointmentsCalendar {
  display: flex;
  max-width: 670px;
  margin: 0 auto;


  ::ng-deep .calendar {
    width: 60%;
    font-family: mf-italic;

    .mat-calendar-body-selected {
      background-color: #27647A;
    }
  }

  .availableTime {
    width: 40%;

    .mat-list-base {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: auto;
      max-height: 400px;

      &:focus {
        outline: none;
      }

      mat-list-option.mat-list-option {
        width: auto;
        font-family: 'mf-inter-v';
        font-size: 13px;
      }
    }
  }

  .appointment-form {
    width: 100%;
    height: auto;

    .alert {
      padding: 15px 30px;
      margin: 15px 20px;
      background-color: lightpink;
    }

  }

}

.customer-info {
  max-width: 400px;
  margin: 0 auto;

  .form-element {
    display: block;
    width: 100%;
    margin: auto;
  }

  .city-zip-code {
    display: flex;
    margin-left: 0;
    max-width: 70%;


    .zip {
      margin-right: 20px;
      max-width: 100px;
    }
  }
}

::ng-deep {
  .customer-info .mat-form-field {
    display: block;
    position: relative;
    text-align: left;
    color: #000000;
    font-family: mf-inter-v;

  }

  .mat-list-base .mat-list-item .mat-list-item-content-reverse, .mat-list-base .mat-list-option .mat-list-item-content-reverse {
    text-align: right;
  }

  .actions {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    font-family: mf-inter-v;

    .valid {
      color: #27647A;
    }
  }
}

@media screen and (max-width: 767px) {

  .appointmentsCalendar {
    display: block;
    ::ng-deep .calendar {
      width: 100%;
    }
    .availableTime {
      width: 100%;
      overflow-x: scroll;
      .mat-list-base {
        max-height: 200px;
      }
    }
  }

}