.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mat-form-field {
  margin: 10px 0;
}

.mat-raised-button {
  min-width: 48px;
  line-height: 32px;
  margin: 4px;
}

.mat-hint {
  color: #f44336;
  font-size: 10.5px;
}

.button-position {
  margin-left: 77%;
}

.title-modal {
  text-align: center;
}

.mat-typography {
  width: 850px !important;
  height: auto !important;
  margin: 0 auto;
}
.mat-dialog-content {
  overflow-x: hidden;
  overflow-y: auto;
}
mat-slide-toggle {
  margin-top: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .full-width {
    width: 100%;
  }
  .mat-typography {
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
  }
  .mat-dialog-content {
    overflow: auto;
  }
}
.input-file-inline{
  padding-top: 10px;
}

.tag-rupture-radio {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  justify-content: center;
}

.left-radio {
  margin-right: 15px;
}
