<h2 mat-dialog-title *ngIf="data.mode === 'Add'" class="title-modal">
  Ajouter une matière
</h2>
<h2 mat-dialog-title *ngIf="data.mode === 'Edit'" class="title-modal">
  Modifier une matière
</h2>

<mat-dialog-content [formGroup]="matiereForm">
  <div class="mat-typography">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            formControlName="nature"
            matInput
            placeholder="Nature"
            required
          />
          <mat-hint
            *ngIf="
              matiereForm.controls.nature.dirty &&
              matiereForm.controls['nature'].hasError('required')
            "
          >
            Nature est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input
            formControlName="color"
            matInput
            placeholder="Couleur"
            required
          />
          <mat-hint
            *ngIf="
              matiereForm.controls.color.dirty &&
              matiereForm.controls['color'].hasError('required')
            "
          >
            Couleur est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input
            formControlName="paysOrigin"
            matInput
            placeholder="Pays d'origine"
            required
          />
          <mat-hint
            *ngIf="
              matiereForm.controls.paysOrigin.dirty &&
              matiereForm.controls['paysOrigin'].hasError('required')
            "
          >
            Pays d'origine est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea
            formControlName="caracteristiques"
            matInput
            placeholder="Caractéristiques"
            required
            [maxlength]="255"
          ></textarea>
          <mat-hint
            *ngIf="
              matiereForm.controls.caracteristiques.dirty &&
              matiereForm.controls['caracteristiques'].hasError('required')
            "
          >
            Caractéristiques sont obligatoires
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            type="number"
            min="1"
            step="any"
            formControlName="price"
            matInput
            placeholder="Prix"
            [required]="checked === '1'"
          />
          <mat-icon matSuffix style="font-size: 100% ">euro</mat-icon>
          <mat-hint
            *ngIf="
              matiereForm.controls.price.dirty &&
              matiereForm.controls['price'].hasError('required')
            "
          >
            Prix est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input
            readonly
            [matDatepicker]="picker"
            (click)="picker.open()"
            formControlName="dateRepriseStock"
            matInput
            placeholder="Date de reprise du stock"
            [required]="checked === '1'"
            [min]="today"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker-toggle matSuffix (click)="clearDateRepriseStock()">
            <mat-icon matDatepickerToggleIcon>clear</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint
            *ngIf="
              matiereForm.controls.dateRepriseStock.dirty &&
              matiereForm.controls['dateRepriseStock'].hasError('required')
            "
          >
            Date est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field *ngIf="models$ | async as modeleList" class="full-width">
          <mat-select placeholder="Modèles" formControlName="modeles" multiple >
            <mat-option *ngFor="let model of modeleList" [value]="model.uuid">{{
              model.name
              }}</mat-option>
          </mat-select>
          <mat-hint
            *ngIf="
              matiereForm.controls.modeles.dirty &&
              matiereForm.controls['modeles'].hasError('required')
            "
          >
            Un modèle est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col input-file-inline">
        <app-file-input
          [formName]="matiereForm"
          [placeholder]="imagePlaceholder"
          (filesAdd)="displayImageCuir($event)"
          [accept]="accept"
          [previewImage]="true"
          [uploadMultiple]="false"
          [isModal]="true"
          [filename]="imageCuirName$ | async"
          [isEdit]="true"
          [isRequired]="true"
          [fileUpload]="imageCuirFile$ | async"
          [fileErrorRequired]="imageCuirError"
          [sizeMax]="sizeMax"
          [isImg]="true"
          class="full-width"
        ></app-file-input>
      </div>
      <div class="col">
        <mat-radio-group (change)="changed($event)" formControlName="rupture" class="tag-rupture-radio" required>
          <mat-radio-button [color]="color" value="1" class="left-radio">En rupture</mat-radio-button>
          <mat-radio-button [color]="color" value="0" >En Stock</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="button-position-edit" align="end">
  <button class="mat-raised-button mat-primary" (click)="save()">
    Enregistrer
  </button>
  <button class="mat-raised-button" (click)="close()">Quitter</button>
</mat-dialog-actions>
