<div class="container">
  <div class="title">Notre offre</div>
  <div class="container-body desktop ">
    <div class="inline-block ">
      <div class="base-block hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
        <div class="block-image">
          <img src="assets/images/offreIntemporel.jpg">
          <div class="block-content">
            <div class="title">L'offre intemporelle pour un look plus élaboré</div>
            <div class="content">
              <p>Notre Monk à double boucles, nos Derbies et nos Richelieus sauront vous assurer confort et élégance au
                travail ou lors de vos événements. Idéal pour la mi-saison, ces souliers sont devenus un grand classique
                du vestiaire masculin.</p>
              <p>Ces trois souliers peuvent aussi bien convenir à un look décontracté que tendance, portés avec un chino
                ou un jean.</p>
            </div>
          </div>
        </div>
        <div class="block-info">
          <div class="name">Intemporel</div>
          <div class="type">RICHELIEUS, DERBIES,<br/> DOUBLE BOUCLES</div>
          <div class="price">à partir de 1280 €</div>
        </div>
      </div>
      <div class="base-block hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
        <div class="block-image">
          <img src="assets/images/offreHeritage.jpg">
          <div class="block-content">
            <div class="title">L'Héritage,<br/>pour arborer un style moderne<br/>au quotidien
            </div>
            <div class="content">
              <p>Issus d’univers bien différents nos boots offrent confort et style et s’adaptent à chaque look qu’il
                soit urbain, branché ou élégant...</p>
              <p>Nos boots s’associent aussi bien avec un pantalon slim, une chemise et une veste de costume pour un
                look sophistiqué qu’avec un jean et un tee-shirt pour un look décontracté.</p>
            </div>
          </div>
        </div>
        <div class="block-info">
          <div class="name">Héritage</div>
          <div class="type">CHUKKA BOOTS,<br/> CHELSEA BOOTS</div>
          <div class="price">à partir de 1380 €</div>
        </div>
      </div>
      <div class="base-block hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
        <div class="block-image">
          <img src="assets/images/offreComptemporain.jpg">
          <div class="block-content">
            <div class="title">Un look décontracté avec les souliers Contemporain</div>
            <div class="content">
              <p>Alliant confort et allure, nos mocassins et nos sneakers vous permettront d’accessoiriser vos tenues
                chics et casuals, tout en préservant un style élégant.</p>
              <p>Une paire de mocassins pour un style décontracté ou des sneakers blanches pour un look plus sportswear,
                à vous de définir votre allure en personnalisant votre paire.</p>

            </div>
          </div>
        </div>
        <div class="block-info">
          <div class="name">Contemporain</div>
          <div class="type">MOCASSIN, SNEAKERS</div>
          <div class="price">à partir de 880 €</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-body mobile " id="offreMobile">
    <app-slider [images]="offres" (showContentbyIndex)="showContent($event)" [type]="'offre'"></app-slider>
  </div>
  <div class="btn-rdv">
    <button mat-stroked-button (click)="prendreRdv()" animateOnScroll
            [animationName]="'animated animate__animated animate__fadeIn'">RÉSERVEZ VOTRE PAIRE
    </button>
    <a routerLink="3d-viewer">
      <button mat-stroked-button  animateOnScroll
            [animationName]="'animated animate__animated animate__fadeIn text-uppercase ml-20'" >
        Voir les modèles en 3D
      </button>
    </a>
  </div>
</div>
<div id="offreDiscription">
  <mat-expansion-panel [expanded]="panelOpenState" class="mobile">
    <div class="discription">
      <div class="header">
        <div class="btn-close">
          <button>
            <svg-icon src="assets/svg/closeCookies.svg" (click)="closeContent()"
                      [svgStyle]="{ 'height.px':24, 'width.px':24 }"></svg-icon>
          </button>
        </div>
        <div class="title">{{offres[selectedItemIndex].title}}</div>
      </div>
      <div class="content">
        <p>{{offres[selectedItemIndex].content.p1}}</p>
        <p>{{offres[selectedItemIndex].content.p2}}</p>
        <p>{{offres[selectedItemIndex].content.p3}}</p>
      </div>
    </div>
  </mat-expansion-panel>
</div>
