.mat-expansion-panel {
  background-color: transparent;
  box-shadow: none;
}
.mat-expansion-panel {
  padding: 0 !important;
}
.mat-expansion-panel-body {
  padding: 0px 0px 100px!important;
}

.desktop{
  display: none;
}
.hidden{
  visibility: hidden;
}
.mobile{
  display: block;

  .btn-change {
    width: 70px;
    float: left;
    padding-top: 30%;
  }
  .block-image {
    width: calc(100% - 140px);
    font-size: 24px;
    float: left;
  }

  .block-info {
    float: left;
    width: 100%;
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    min-height: 445px;

    .name {
      font-family: mf-bold;
      font-size: 19px;
    }

    .type {
      width: 50%;
      margin: auto;
      font-size: 16px;
    }

    .price {
      font-size: 16px;
      font-family: mf-regular;
    }
  }




}
#Calque_1 > polyline{
  stroke: #fff !important;
}



.container {
  background-image: url("../../../assets/images/bgrd-offre.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FCF8F6;
  /* min-height: 950px; */

  .title {
    text-align: center;
    font-family: mf-italic;
    /* font-size: 48px; */
    font-size: 30px;
    padding: 40px 0;
  }

  .container-body {
    max-width: 1200px;
    margin: 0 auto;

    .inline-block {
      display: flex;
      flex-flow: wrap;

      .base-block {
        text-align: center;
        margin: 0 auto;
        padding: 10px 0;

        .block-image {
          padding: 20px 0;
          position: relative;

          img {
            width: 388px;
          }

          .block-content {
            visibility: hidden;
            position: absolute;
            top: 20px;
            color: black;
            line-height: normal;
            background-color: #FCF8F6;
            height: 485px;

            .title {
              font-size: 30px;
              padding: 20px 34px;
            }

            .content {
              font-size: 14px;
              font-family: mf-inter-v;
              letter-spacing: 1px;
              padding: 0 30px;
              line-height: 24px
            }
          }

          &:hover {
            .block-content {
              visibility: visible;
            }
          }
        }

        .block-info {

          line-height: 30px;
          letter-spacing: 1px;
          .name {
            font-family: mf-bold;
            font-size: 19px;
          }

          .type {
            width: 76%;
            margin: auto;
            font-size: 16px;
          }

          .price {
            font-size: 16px;
            font-family: mf-regular;
          }
        }
      }
    }
  }

  .btn-rdv {
    /* padding: 40px; */
    padding: 20px 0;
    button {
      font-family: mf-inter-v;
      font-size: 14px;
      margin-top: 10px;
      padding: 8px 20px;
      letter-spacing: 2px;
      border-radius: 0;
      border: 1px solid white;
      color: white;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

  .discription{
    color: #fcf8f6;
    padding: 10px 20px;
    .title{
      text-align: center;
      font-family: mf-italic;
      font-size: 22px;
      padding: 5px 0;
    }
  }
}

mat-expansion-panel{
  .discription{
    line-height: normal;
    color: black;
    background-color: #FCF8F6;
    .header {
      .title{
        font-size: 25px;
        padding: 20px 34px;
        text-align: center;
        font-family: mf-italic;
      }
      .btn-close {
        flex: 4;
        position: absolute;
        top: 10px;
        right: 10px;
        button {
          border: none;
          padding: 0;
          background-color: #FCF8F6;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          img {
            background-color: #FCF8F6;
            width: 100%;
          }
        }
      }
    }
    .content {
      font-size: 12px;
      font-family: mf-inter-v;
      letter-spacing: 1px;
      padding: 0 30px;
      line-height: 24px
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.ml-20 {
  margin-left: 20px;
}


@media screen and (min-width: 767px) {

  .discription{
    display: none;
  }
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
    .block-info{
      min-height: autos;
    }
  }

  .container {
    min-height: auto;
    .discription {
      display: none;
    }
    .title{
      font-size: 46px;
    }
    .btn-rdv {
      padding: 40px 0;
    }
  }
}
