<h2> {{title}}</h2>
<div mat-dialog-content>
  <p>{{message}}</p>
</div>
<div mat-dialog-actions class="button-position">
  <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Oui</button>
  <button mat-raised-button mat-dialog-close tabindex="-1">Non</button>
</div>
