<h2 mat-dialog-title *ngIf="data.mode === 'Add'" class="title-modal">Ajouter un
  modèle</h2>
<h2 mat-dialog-title *ngIf="data.mode === 'Edit'" class="title-modal">Modifier un modèle</h2>

<mat-dialog-content [formGroup]="modeleForm">
  <div class="mat-typography">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="name" matInput placeholder="Nom du modèle" required/>
          <mat-hint *ngIf="modeleForm.controls.name.dirty && modeleForm.controls['name'].hasError('required')">
            Nom du modèle est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="reference" matInput placeholder="Référence" required/>
          <mat-hint
            *ngIf="modeleForm.controls.reference.dirty && modeleForm.controls['reference'].hasError('required')">
            Référence est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input type="number" min="1" step="any" formControlName="price" matInput placeholder="Prix" required/>
          <mat-hint *ngIf="modeleForm.controls.price.dirty && modeleForm.controls['price'].hasError('required')">
            Prix du modèle est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Durée de fabrication par jour</mat-label>
          <mat-select formControlName="fabricDuration">
            <mat-option *ngFor="let val of duration" [value]="val">
              {{val}} j
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea formControlName="characteristic" matInput
                    placeholder="Caractéristiques"></textarea>
          <mat-hint *ngIf="modeleForm.controls['characteristic'].hasError('maxlength') && modeleForm.controls.characteristic.dirty">
            Les caractéristiques du modèle ne peuvent pas dépasser 255 caractères
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-file-input [formName]="modeleForm"
                        [placeholder]="placeholder" (filesAdd)="displayFile($event)"
                        [accept]="accept" [uploadMultiple]="true" [isModal]="true"
                        [previewImage]="true" [isRequired]="false" [isEdit]="true"
                        [filename]="fileNames$ | async" [fileUpload]="filesUpload$ | async" [sizeMax]="sizeMax" [isImg]="true"></app-file-input>
      </div>
      <div class="col">
        <mat-radio-group formControlName="visibility" (change)="changed($event)">
          <mat-radio-button [color] ="color" value="true" >Visible</mat-radio-button>
          <mat-radio-button [color] ="color" value="false" >Invisible</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="button-position">
  <button class="mat-raised-button mat-primary" (click)="save()">Enregistrer</button>
  <button class="mat-raised-button" (click)="close()">Quitter</button>
</mat-dialog-actions>
