<div class="container">
  <div *ngIf="!visibility; else listMatiere" class="error-autorization"> Vous n'êtes pas l'autorisation à cette page</div>
  <ng-template #listMatiere>
    <mat-card class="shipping-card">
      <mat-card-header>
        <div class="box">
          <div class="title-box">Liste des matières</div>
          <div class="add-box" *ngIf="visibilityCreate">
            <button
              (click)="openAddModeleDialog()"
              matTooltip="Nouvelle matière"
              mat-mini-fab
              color="primary"
            >
              <mat-icon>create</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <app-list
          [dataSource$]="matiere$"
          [actionList]="actionList"
          [rowColumns]="rowColumns"
          [headerColumns]="headerColumns"
          (callDeleteFunction)="deleteMethod($event)"
          (callEditFunction)="editMethod($event)"
          (callShowFunction)="showMethod($event)"
        ></app-list>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
