.container {
  .title {
    /* font-size: 25px; */
    font-size: 30px;
    font-family: mf-medium-italic;
    text-align: right;
    margin: 15px;
    line-height: normal;
  }

  .logo img{
    width: 80%;
  }
  .block-logos {
    flex-flow: wrap;
    height: auto;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;

    .logo-1{
      flex: 50%;
      order: 1;
    }
    .logo-2{
      flex: 50%;
      order: 2;
    }
    .logo-3{
      flex: 50%;
      order: 3;
    }
    .logo-4{
      flex: 50%;
      order: 4;
    }
    .logo-5{
      flex: 50%;
      order: 5;
    }
    .logo-6{
      flex: 50%;
      order: 6;
    }

  }
}

.hidden{
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .container {

    .title {
      font-size: 46px;
      margin: 40px 50px;
    }
    .block-logos {
      .logo-1{
        flex: 33%;
        order: 1;
      }
      .logo-2{
        flex: 33%;
        order: 2;
      }
      .logo-3{
        flex: 33%;
        order: 3;
      }
      .logo-4{
        flex: 33%;
        order: 4;
      }
      .logo-5{
        flex: 33%;
        order: 5;
      }
      .logo-6{
        flex: 33%;
        order: 6;
      }
    }
  }
}
