<div class="container">
  <div class="title" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
    Ils parlent de nous...
  </div>

  <div class="block-logos">
    <div class="logo logo-1 hidden" style="--order: 1" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'">
      <img src="assets/images/LEFIGARO-MAGAZINE.png">
    </div>
    <div class="logo logo-2 hidden" style="--order: 2" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'">
      <img src="assets/images/OUESTFRANCE.png">
    </div>
    <div class="logo logo-3 hidden" style="--order: 3" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'">
      <img src="assets/images/LES-ECHOS.png">
    </div>
    <div class="logo logo-4 hidden" style="--order: 4" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'">
      <img src="assets/images/MARIANNE.png">
    </div>
    <div class="logo logo-5 hidden" style="--order: 5" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'">
      <img src="assets/images/THEGOODLIFE.png">
    </div>
    <div class="logo logo-6 hidden" style="--order: 6" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'">
      <img src="assets/images/BFM-BUSINESS.png">
    </div>
  </div>
  <app-slider [images]="articles" [type]="'articles'"></app-slider>
</div>
