<div class="logo">
  <a class="simple-text" routerLink="/admin">
    <div class="logo-img">
      <img [src]="logo" alt="Logo Maison Felger"/>
    </div>
  </a>
</div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-container item-sidebar">
  <mat-tree-node *matTreeNodeDef="let node" class="btnLinks {{(node.level == 0)?  'home': ''}} {{!node.show?  'invisible': ''}}" matTreeNodePadding
      routerLink="{{hasChild ?  node.route: '#'}}" routerLinkActive="active">
  <button [attr.aria-label]="node.name" mat-icon-button *ngIf="node.show">
  <mat-icon inline="true">{{node.icon}}</mat-icon>
  <span>{{node.name}}</span>
  </button>
  </mat-tree-node>
 
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" class="btnLinks {{(node.level == 0)?  'home': ''}} {{!node.show?  'invisible': ''}}" matTreeNodePadding
                 routerLink="{{node.route}}" routerLinkActive="active">
    <button [attr.aria-label]="'toggle ' + node.name" mat-icon-button
            matTreeNodeToggle *ngIf="node.show">
      <mat-icon inline="true">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
      <span>{{node.name}}</span>
    </button>
  </mat-tree-node>
</mat-tree>
