
.logo {
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, .3);

  }
}
.logo-img{
  width: 100px;
  display: block;
  max-height: 30px;
  margin-left: 40px;
  margin-right: 15px;

  img{
    width: 100px;
    top: 6px;
    position: absolute;
  }
}
.item-sidebar {
  padding-top: 60% !important;
}
.item-span {
  margin-left: 0px;
}
.logo-mobile{
  position: absolute !important;
}
.item-submenu{
  margin: 2px;
}
.home{
  padding-left: 16px !important;
}

.material-icons {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
.invisible {
   display: none;
}