<div class="container">
  <form [formGroup]="clientForm">
    <mat-card class="shipping-card">
      <mat-card-header>
        <div class="box">
          <div class="back-box">
            <button [routerLink]="'/admin/clients/list-client/'"
                    matTooltip="Retour vers la liste des client" mat-mini-fab color="primary">
              <mat-icon>replay</mat-icon>
            </button>
          </div>
          <div class="title-box">
            Affichage du client
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="lastName" matInput placeholder="Nom"/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="firstName" matInput placeholder="Prénom"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="mail" matInput placeholder="Email"/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="phoneNumber" placeholder="Téléphone"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="deliveryAdress" placeholder="Adresse de livraison"/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="billingAdress" placeholder="Adresse de facturation"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="birthDate" matInput placeholder="Date de naissance">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="printExpirationDate" matInput placeholder="Date de validité d'empreinte">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="footPrintLeft" placeholder="Empreinte gauche"/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="footPrintRight" placeholder="Empreinte droite"/>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

