span {
  display:block;
  background:#fff;
}

#menu-toggle {
  width:80px;
  height:80px;
  margin:50px auto;
  position:relative;
  cursor:pointer;
  background:transparent;
  #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    span {
      height:1px;
      position:absolute;

      left:20px;
      /* margin:10px 0; */
      &:nth-child(1){
        width:0px;
        top:24px;
        animation: slideline1 ease forwards;
        animation-delay:.5s;
        animation-duration: .3s;
      }
      &:nth-child(2){
        width:0px;
        top:34px;
        animation: slideline2 ease forwards;
        animation-delay:.625s;
        animation-duration: .3s;
      }
      &:nth-child(3){
        width:0px;
        top:44px;
        animation: slideline3 ease forwards;
        animation-delay:.75s;
        animation-duration: .3s;
      }
    }
  }
}
#menu-toggle.headerMoved {
  #hamburger {
    span {

      &:nth-child(1){
        width:0px;
        top:24px;
        animation: slideline3 ease forwards;
        animation-delay:.75s;
        animation-duration: .3s;
      }
      &:nth-child(2){
        width:0px;
        top:34px;
        animation: slideline2 ease forwards;
        animation-delay:.625s;
        animation-duration: .3s;
      }
      &:nth-child(3){
        width:0px;
        top:44px;
        animation: slideline1 ease forwards;
        animation-delay:.5s;
        animation-duration: .3s;
      }
    }
  }
}
#menu-toggle.headerLeave {
  #hamburger {
    span {

      &:nth-child(1){
        width:0px;
        top:24px;
        animation: slideline1 ease forwards;
        animation-delay:.5s;
        animation-duration: .3s;
      }
      &:nth-child(2){
        width:0px;
        top:34px;
        animation: slideline2 ease forwards;
        animation-delay:.625s;
        animation-duration: .3s;
      }
      &:nth-child(3){
        width:0px;
        top:44px;
        animation: slideline3 ease forwards;
        animation-delay:.75s;
        animation-duration: .3s;
      }
    }
  }
}
#menu-toggle.headerOpen {
  #hamburger {
    span {

      &:nth-child(1){
        top:24px;
        animation: lineTopMoveMid  ease forwards;
        animation-delay:.2s;
        animation-duration: 1s;
      }
      &:nth-child(2){
        top:34px;
        animation: lineMidHide ease forwards;
        animation-delay:.2s;
        animation-duration: 1s;
      }
      &:nth-child(3){
        width:50px;
        top:44px;
        animation: lineButtomMoveMid ease forwards;
        animation-delay:.2s;
        animation-duration: 1s;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  #menu-toggle {
    #hamburger {
      span {
        left:0px;
      }
    }
  }
}

@keyframes
slideline1{
  0%{
    width:0%;
  }
  100%{
    width:50%;
  }
}

@keyframes
slideline2{
  0%{
    width:0%;
  }
  100%{
    width:100%;
  }
}

@keyframes
slideline3{
  0%{
    width:0%;
  }
  100%{
    width:70%;
  }
}

@keyframes
lineTopMoveMid{
  0%{
    width:50%;
    top:24px;
    transform: rotate(0deg);
  }
  50%{
    width:50%;
    top:24px;
    transform: rotate(0deg);
  }
  75%{
    width:50%;
    top:34px;
    transform: rotate(0deg);
  }
  100%{
    width:50%;
    top:34px;
    transform: rotate(45deg);
  }
}

@keyframes
lineButtomMoveMid{
  0%{
    width:60%;
    top:44px;
    transform: rotate(0deg);
  }
  50%{
    width:50%;
    top:44px;
    transform: rotate(0deg);
  }
  75%{
    width:50%;
    top:34px;
    transform: rotate(0deg);
  }
  100%{
    width:50%;
    top:34px;
    transform: rotate(-45deg);
  }
}

@keyframes
lineMidHide{
  0%{
    width:100%;
  }
  100%{
    width:0%;
  }
}

@keyframes rotateTop {
  100% {transform: rotate(45deg);}
  0% {
    transform: rotate(45deg);
  }
}

@keyframes rotateButtom {
  100% {transform: rotate(-45deg);}
  0% {
    transform: rotate(-45deg);
  }
}
