.container {
  font-size: 10px;
  font-family: mf-inter-v;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: normal;
  position: relative;
  .title {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .content {
    padding: 6px 0 18px;
  }
  .header {
    width: fit-content;
    margin: auto;
    text-align: center;

    .btn-close {
      position: absolute;
      right: 0;
      top: 0;
      button {
        border: none;
        padding: 0;
        background-color: white;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        img {
          background-color: white;
          width: 100%;
        }
      }
    }

    .sub-title {
      padding: 10px 0;
    }
  }
  .articles {
    padding: 0 34px 0 14px;
    .article {

    }
  }
}
