<div class="container">
  <div class="header">
    <div class="title">Mentions légales</div>
    <div class="sub-title">En vigueur au 01/04/2021</div>
    <div class="btn-close">
      <button (click)="closeModale()">
        <svg-icon src="assets/svg/croixpopup.svg" [svgStyle]="{ 'height.px':30, 'width.px':30 }"></svg-icon>
      </button>
    </div>
  </div>
  <div class="articles">
    <div class="content">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site {{infos.webSite}} les présentes mentions légales.<br/>
      La connexion et la navigation sur le site {{infos.webSite}} par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.<br/>
      Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</div>
    <div class="article">
      <div class="title">ARTICLE 1 : L’ÉDITEUR</div>
      <div class="content">L'édition du site {{infos.webSite}} est assurée par la Société SAS R ET K au capital de 16 000 euros, immatriculée au RCS de Rennes sous le numéro 827 493 545 dont le siège social est situé au 4 Rue Campello Zone Artisanale des Allées 35133 Parigné, numéro de téléphone <span style="white-space: nowrap;">{{infos.phoneNumbre}}</span>, adresse <span style="white-space: nowrap;">e-mail</span> : {{infos.email}}.<br/>
        N° de TVA intracommunautaire : FR96827493545<br/>
        Le Directeur de la publication est Maria KARUNAGARAN</div>
    </div>
    <div class="article">
      <div class="title">ARTICLE 2 : L’HÉBERGEUR</div>
      <div class="content">L'hébergeur du site {{infos.webSite}} est la Société OVH SAS, dont le siège social est situé au 2, rue Kellermann, 59100 Roubaix. </div>
    </div>
    <div class="article">
      <div class="title">ARTICLE 3 : ACCÈS AU SITE</div>
      <div class="content">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.<br/>
        En cas de modification, interruption ou suspension des services le site {{infos.webSite}} ne saurait être tenu responsable.</div>
    </div>
    <div class="article">
      <div class="title">ARTICLE 4 : COLLECTE DES DONNÉES</div>
      <div class="content">
        Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du <span style="white-space: nowrap;">6 janvier 1978</span> relative à l'informatique, aux fichiers et aux libertés. En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
        <ul>
          <li>par mail à l'adresse email {{infos.email}}</li>
          <li>par voie postale au Maison Felger - Service Client - 24 rue des Boulangers 75005, Paris ;</li>
        </ul>
      </div>
    </div>
    <div class="article">
      <div class="title">ARTICLE 5 : COOKIES</div>
      <div class="content">
        L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.<br/>
        En naviguant sur le site, il les accepte.<br/>
        Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
      </div>
    </div>
    <div class="article">
      <div class="title">ARTICLE 6 : PROPRIÉTÉ INTELLECTUELLE</div>
      <div class="content">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site {{infos.webSite}}﻿,  sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</div>
    </div>
  </div>
</div>
