<div class="main-container vitrine">
  <div class="scroll-outer welcome-section {{bannerClass}}">
    <div class="card-container">
      <app-header></app-header>
      <div class="title">{{article.title | titlecase}}</div>
    </div>
  </div>
  <div class="article-content scroll-outer">
    <div class="article-image"><img src="{{path}}" class="dimension-img"></div>
    <div [innerHTML]="article.content | safeHtml" class="article-text"></div>
  </div>
  <div #contact id="contact" class="scroll-outer" >
    <app-nous-contacter></app-nous-contacter>
  </div>
  <div class="scroll-outer">
    <app-cookies></app-cookies>
  </div>
</div>
