.main-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: white;
}
.welcome-section {
  visibility: visible;
  background-image:  url("../../../../../assets/images/hp-background.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .title {
    font-size: 46px;
    padding: 142px 34px 60px 34px;
    text-align: center;
    font-family: mf-italic;
    color: #fafafa;
  }
}
.article-content {
  background-color: white;
  padding: 10px;
  margin: 0 80px 0 80px;
  border-radius: 8px 8px 5px 5px;
  position: relative;
  top: -120px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.article-image{
  margin: 20px
}
.article-text{
  margin: 20px;
}
.dimension-img{
  width: 100%;
  height: fit-content;
}
@media screen and (min-width: 767px) {
  .welcome-section {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .title {
      font-size: 46px;
      padding: 142px 34px 60px 34px;
      text-align: center;
      font-family: mf-italic;
      color: #fafafa;
    }
  }
  .article-content {
    background-color: white;
    padding: 10px;
    margin: 0 80px 0 80px;
    border-radius: 8px 8px 5px 5px;
    position: relative;
    top: -96px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  }
  .article-image{
    margin: 20px
  }
  .article-text{
    margin: 20px;
  }
  .dimension-img{
    width:100%;
    height: fit-content;
  }
}
