.main-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #FCF8F6;
}

.scroll-outer {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden{
  visibility: hidden;
}

.display{
  display: table;
}

.hide{
  display: none;
}

.card-container {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  //max-width: 1200px;
}

.welcome-section {
  visibility: visible;
  background-image:  url("../../../assets/images/hp-background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .reborn {
    img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(11deg) brightness(102%) contrast(104%);
      display: block;
      width: 200px;
      width: 200px;
      height: 100vh;
      margin: auto auto;
    }
  }

}

.page-excellence {
  .excellence-title {
    margin: -179px auto 0 auto;
    width: 80%;
    max-width: 360px;
    transform: rotate(360deg);
    position: relative;
    z-index: 1;
    left: 0;
    right: 0;

    .image-excellence{
      width: 100%;
    }

    .title {
      color: white;
      font-family: "mf-italic";
      text-align: left;
      display: block;
      font-size: 30px;
      letter-spacing: 1.5px;
      //line-height: 1;
      position: absolute;
      top: -64px;
    }
  }
}

.hp-container {
  display: grid;
  .carousel-hp {
    order: 1;
    margin: -150px auto 0px auto;
    position: relative;
    max-width: 350px;
  }

  .halfHeight{
    margin: -250px auto 0px auto;
  }

  .content-bloc {
    order: 2;
    margin: 40px;
    /* margin: 170px 20px; */
  }
}

.excellence-detail {
  .image-excellence {
    width: 350px;
    margin: -70px auto 0 auto;
    flex: 5;
    max-width: 881px;
    height: 500px;
    z-index: 1;
  }

  .content-bloc {
    /* margin: 70px 40px; */
    margin: 40px;
  }
}

.content-bloc {
  .bloc-title {
    font-family: "mf-semi-bold-italic";
    /* font-size: 22px; */
    font-size: 30px;
    text-align: left;
    display: block;
  }

  .bloc-caption {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'mf-inter-v';
    margin-bottom: 30px;
  }

  .bloc-text {
    text-align: left;
    margin-bottom: 20px;
    font-family: 'mf-regular';
    /*     font-size: 16px; */
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.monbile-only{
  display: block;
}
.desktop-only{
  display: none;
}

.halfHeight{
  height: 60vh;
  .reborn{
    display: none;
  }
}
.fullHeight{
  height: 100vh;
  .reborn{
    display: block;
  }
}

@media screen and (min-width: 767px) {
  .monbile-only{
    display: none;
  }
  .desktop-only{
    display: block;
  }

  .main-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
  }
  .scroll-outer {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .card-container {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    //max-width: 1200px;
  }
  .welcome-section {
    height: 100vh;
    .reborn {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
      }
    }
  }

  .halfHeight{
    height: 60vh;
    .reborn{
      display: none;
    }
  }
  .fullHeight{
    height: 100vh;
    .reborn{
      display: block;
    }
  }

  .page-excellence {
    max-height: 990px;
    position: relative;
    width: 100%;

    .excellence-title {
      position: absolute;
      bottom: 10%;
      left: 592px;
      z-index: 1000;
      max-width: 520px;

      .title {
        font-size: 46px;
        line-height: normal;
        position: static;
        letter-spacing: 2px;
      }
    }
  }

  .hp-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 500px;
    padding:20px;

    .carousel-hp {
      flex: 6;
      order: 2;
      display: flex;
      width: 100%;
      margin: -200px auto;
      position: unset;
      top: 0px;
      z-index: 1;
      max-width: 500px;

    }

    .content-bloc {
      flex: 6;
      margin: 70px 100px 0px 0px;
      line-height: 32px;
    }
  }

  .excellence-detail {
    display: flex;
    min-height: 500px;;
    max-width: 1300px;
    margin: 0 auto 90px;

    .image-excellence {
      flex: 5;
      max-width: 881px;
      height: fit-content;
      margin-right: 120px;
      margin-top: -200px;
      margin-left: 50px;
      z-index: 1;
    }

    .content-bloc {
      flex: 6;
      margin-top: 25px;
      line-height: 32px;
    }
  }

  .content-bloc {
    display: flex;
    width: 100%;
    min-height: 300px;
    padding: 15px 0 30px 10px;

    .blocks-text {
      height: fit-content;
      margin: auto;
    }

    .bloc-title {
      font-family: mf-semi-bold-italic;
      font-size: 46px;
      text-align: left;
      display: block;
      letter-spacing: 1px;
    }

    .bloc-caption {
      display: block;
      text-align: left;
      text-transform: uppercase;
      font-size: 20px;
      font-family: mf-inter-v;
      letter-spacing: 1px;
      margin-bottom: 70px;
      margin-top: 20px;
    }

    .bloc-text {
      text-align: left;
      margin-bottom: 20px;
      font-family: 'mf-regular';
      font-size: 16px;
      letter-spacing: 1px;
    }

    .font-mf-bold {
      font-family: mf-bold !important;
    }
  }
}
