<div class="main-container vitrine">
  <div class="scroll-outer welcome-section {{bannerClass}}">
    <div class="card-container">
      <app-header></app-header>
      <div class="reborn">
        <img  src="../../assets/svg/logoMFbg.svg">
      </div>
    </div>
  </div>
  <div #hpSection id="hpSection" class="scroll-outer hp-container"  >
    <div class="content-bloc">
      <div>
        <h3 class="bloc-title hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-0s'"  >Maison Felger</h3>
        <span class="bloc-caption hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-0s'" >PARIS - Fougères</span>
        <p class="bloc-text font-italic hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-0-25s'" >
          « Notre histoire débute lorsque nos fondateurs Maria et Cyril réalisent que trouver le soulier parfait n’est pas
          chose facile. Aujourd’hui, la plupart des personnes achètent une paire de chaussures en se basant uniquement sur
          une sensation de confort éprouvée lors de quelques minutes d’essayage, sans pouvoir s’assurer qu’elles leur conviennent
          réellement. »
        </p>
        <p class="bloc-text hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-0-5s'" >
          Maison Felger vous accompagne afin de vous proposer des souliers à vos mesures, personnalisables, au gré de vos envies :
          des souliers qui vous ressemblent.
        </p>
        <p class="bloc-text hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-0-75s'" >
          Révolutionner l'expérience en la rendant unique, interpréter le savoir-faire à notre manière en y insufflant une pointe
          de technologie, <span class="font-bold">c'est le secret dans lequel vous allez être transporté.</span>
        </p>
        <p class="bloc-text hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-1s'" >
          C'est dans notre manufacture bretonne, haut lieu historique du soulier que nous avons décidé de donner une âme à vos créations.
        </p>
        <p class="bloc-text hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-1-25s'" >
          Des années de réflexions et de nombreuses sources d'inspiration nous ont permis d'imaginer <span class="font-bold">l'avenir du soulier.</span>
        </p>
      </div>
    </div>
    <div class="carousel-hp {{bannerClass}} "  >
      <!-- <app-carousel [delay]="3000" [images]="hpImages"></app-carousel> -->
      <app-slider [images]="hpImages" [type]="'carousel'" class="{{displayHalfHeight}}" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'" ></app-slider>
    </div>
  </div>
  <div #excellence id="excellence" class="scroll-outer page-excellence" >
    <div class="excellence-banner">
      <!--       <app-carousel [delay]="6000" [images]="excellenceImages" [style]="excellenceStyle"></app-carousel> -->
      <app-slider [images]="excellenceImages" [type]="'background'" ></app-slider>
    </div>
    <div class="excellence-title">
      <div class="image-excellence monbile-only" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
        <app-carousel [delay]="0" [images]="excellenceDetail"></app-carousel>
      </div>
      <h2 class="title" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__slow'">une fabrication d'excellence française allié à la technologie 3D</h2>
    </div>
  </div>
  <div class="scroll-outer excellence-detail" >
    <div class="image-excellence desktop-only hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
      <app-carousel [delay]="0" [images]="excellenceDetail"></app-carousel>
    </div>
    <div class="content-bloc">
      <div class="blocks-text">
        <p class="bloc-text font-mf-bold" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
          Notre ambition : pouvoir faire revivre une technique presque disparue grâce à nos artisans.
        </p>
        <p class="bloc-text" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
          Ainsi nos souliers sont fabriqués dans notre atelier breton, à la main, selon les techniques traditionnelles françaises.
        </p>
        <p class="bloc-text" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'">
          Prises de mesures numériques, impressions additives, matériaux innovants, tout a été imaginé pour transformer
          les techniques de production, faciliter les tâches de nos petites mains et servir leur créativité.
        </p>
      </div>
    </div>
  </div>

  <div class="scroll-outer" id="offre" #offre >
    <app-notre-offre></app-notre-offre>
  </div>

  <div class="scroll-outer" id="articles" #articles >
    <app-nos-article></app-nos-article>
  </div>

  <div class="scroll-outer" #experience id="experience" >
    <app-experience></app-experience>
  </div>

  <div #presse class="scroll-outer" id="presse" >
    <app-presse></app-presse>
  </div>

  <div #contact id="contact" class="scroll-outer" >
    <app-nous-contacter></app-nous-contacter>
  </div>
  <div class="scroll-outer">
    <app-cookies></app-cookies>
  </div>
</div>
