.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.mat-hint{
  color: #f44336;
  font-size: 10.5px;
}
.mat-form-field {
  margin: 10px 0;
}

.red-text {
  color: red !important;
}
