<div [formGroup]="articleForm">
  <mat-form-field class="full-width">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList aria-label="tags selection" formControlName="tags" required>
      <mat-chip (removed)="remove(tag)" *ngFor="let tag of tags"
                [removable]="removable" [selectable]="selectable">
        {{tag.label}}
        <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #tagInput (matChipInputTokenEnd)="add($event)"
             [formControl]="tagCtrl"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matInput
             placeholder="Nouveau tag..." class="input-red"/>
    </mat-chip-list>
    <mat-hint *ngIf="articleForm.controls['tags'].hasError('required') && tagsError">
      Tags sont obligatoires
    </mat-hint>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredtags$ | async" [value]="tag.uuid">
        {{tag.label}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

