<div class="container">
  <div *ngIf="!visibility" class="error-autorization"> Vous n'êtes pas l'autorisation à cette page</div>
  <mat-card class="shipping-card" *ngIf="visibility">
    <mat-card-header>
        <div class="box">
          <div class="title-box">
            Liste des articles
          </div>
          <div class="add-box">
            <button  [routerLink]="'/admin/articles/fiche-article/new'" matTooltip="Ajout d'article" mat-mini-fab color="primary">
              <mat-icon>create</mat-icon>
            </button>
          </div>
        </div>
    </mat-card-header>
    <mat-card-content>
      <mat-table  #table  [dataSource]="dataSource" matSort>
        <!-- lastname Definition -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Titre</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <!-- firstname Definition -->
        <ng-container matColumnDef="slogan">
          <mat-header-cell *matHeaderCellDef> Slogan</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.slogan}} </mat-cell>
        </ng-container>

        <!-- email Definition -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description !== 'null'? row.description: ''}} </mat-cell>
        </ng-container>
        <!-- status Definition -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Statut</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.status.label === 'Published'">Publié</span>
            <span *ngIf="row.status.label === 'Draft'">En brouillon</span>
            <span *ngIf="row.status.label === 'Private'">Privé</span>
            <span *ngIf="row.status.label === 'In progress'">En cours</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
          <mat-cell *matCellDef="let row" class="action-link">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showMethod(row.uuid)">
                <mat-icon >visibility</mat-icon>
                <span>Consulter</span>
              </button>
              <button mat-menu-item (click)="editMethod(row.uuid)">
                <mat-icon>edit</mat-icon>
                <span>Modifier</span>
              </button>
              <button mat-menu-item (click)="deleteMethod(row.uuid)">
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['title', 'slogan', 'description', 'status', 'action']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'slogan', 'description', 'status', 'action']"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
