::ng-deep {
  @import '~ngx-toastr/toastr';
}

.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.hidden {
  display: none;
}

mat-sidenav-content.mat-sidenav-content {
  min-height: 100vh;
  height: auto;
}
