<mat-sidenav-container>
  <mat-sidenav #drawer *ngIf="isAuthenticated$ | async"
               [attr.role]="'navigation'"
               [mode]="'side'"
               [opened]="!(isHandset$|async)"
               class="sidenav"
               fixedInViewport>
    <app-sidebar [isHandset]="isHandset$|async"
                 [liens]="navigationLink" [logo]="imgSrc"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar (toggle)="toggle()" *ngIf="isAuthenticated$ | async" [isHandset]="(isHandset$ | async)"></app-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
