<div class="container" #header >
  <header class="header {{menuClosedClass}}"  >
    <div class="main-menu">
      <div class="menu" >
        <app-hamburger (mouseleave)="leavePanel()" (mouseover)="movePanel()" (click)="togglePanel()"  state="{{menuClosedClass}}"></app-hamburger>
      </div>

      <div class="logo">
        <svg-icon class="no-mobile" src="assets/svg/logo_hp.svg" [svgStyle]="{ 'width.px':250, 'fill':'rgb(255,255,255)', 'display': displayLogo}"></svg-icon>
        <svg-icon class="mobile-only" src="assets/svg/logo_hp.svg" [svgStyle]="{ 'height.px':50 ,'fill':'rgb(255,255,255)','display': panelMobileLogo}"></svg-icon>
        <svg-icon class="mobile-only cercleLogo" src="assets/svg/logoMF_Cercle.svg" [svgStyle]="{ 'height.px':50 ,'fill':'rgb(255,255,255)','display': displayLogoMobile}"></svg-icon>
      </div>
      <div class="rdv">
        <button mat-button (click)="prendreRdv()" class="no-mobile btn-hp-action">PRENDRE RENDEZ-VOUS</button>
      </div>
    </div>
    <mat-expansion-panel [expanded]="panelOpenState">
      <div class="">
        <app-menu  [isOpen]="panelOpenState" ></app-menu>
      </div>
    </mat-expansion-panel>
  </header>

</div>

