.mat-expansion-panel {
  background-color: transparent;
  box-shadow: none;
}
.mat-expansion-panel {
  padding: 0 !important;
}
.mat-expansion-panel-body {
  padding: 0px 0px 100px!important;
}
.container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  header.header {
    background: linear-gradient( rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,0) 100%);
    position: absolute;
    width: 100%;
    .main-menu{
      display: flex;
      background-color: transparent;
      align-items: center;
      height: 60px;
      padding: 10px 0;
      margin: 0 auto;
      overflow: hidden;
      .menu {
        padding-left: 54px;
        flex: 2;
        display: flex;
        cursor: pointer;
      }

      .rdv {
        flex: 2;
        padding-right: 54px;
        .btn-hp-action {
          margin: auto;
          background-color: transparent;
          border: 1px solid transparent;
          padding: 8px 20px;;
          color: white;
          text-decoration: none;
          white-space: nowrap;
          cursor: pointer;
          border-radius: 0;
          letter-spacing: 2px;
          font-family: 'mf-inter-v';
          &:hover {
            border: 1px solid #E8FF01;
          }
        }
      }

      .logo {
        flex: 7;
      }
    }

  }
}


.dropdown-menu {
  display: none;
}

.fade-menu {
  display: block;
  padding: 15px 0 100px 0;
  transition: height 200ms;
  height: auto;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  header.header  {
    background: linear-gradient( rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,0) 100%);
  }
  .headerClose {
    background: linear-gradient( rgba(0,0,0,0.9) 0%, rgba(0, 0, 0, 0.9) 70%, rgba(0,0,0,0.9) 100%) !important;
  }
  .headerOpen{
    .cercleLogo {
      display: none !important;
    }
  }
}

.mobile-only {
  display: none;
}


@media screen and (max-width: 767px) {
  .container{
    header.header {
      z-index: 10;
      padding-top: 5px;
      .main-menu{
        .menu {
          padding-left: 0;
          flex: 3;
          max-width: 100px;
        }
        .rdv {
          flex: 1;

        }
        .logo {
          flex: 5;
        }
      }
    }

    .headerOpen{
      .cercleLogo {
        display: none !important;
      }
    }
  }

  .sticky {
    .headerClose {
      .cercleLogo {
        display: block !important;
      }
    }
    .headerOpen{
      .cercleLogo {
        display: none !important;
      }
    }
  }

  .no-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
