<div class="container">
  <div class="first-block">
    <div class="block-gif-mobile  hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'"   >
      <img src="assets/images/9_GIF-1-2.gif">
    </div>
    <div class="content-block">
      <div class="title  hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'" >Une expérience unique <br/> et sur-mesure</div>
      <div class="sub-title  hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'" >EN 4 ÉTAPES</div>
      <div class="block-steps">
        <div class="step  hidden" style="--order: 1" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'"    >
          <div class="step-order" style="--order: 1"><p>1</p></div>
          <div class="step-title">Prise de mesures numériques dans la boutique</div>
          <div class="step-description">
            <p>
              Situé dans le 5<span class="too-small">ème</span> arrondissement de Paris,
              Maison Felger se fera un plaisir de vous ouvrir ses portes, afin de vous présenter son histoire et son
              univers.<br/>
              Nos conseillers seront présents pour vous accueillir et vous accompagner tout au long de votre visite.
          </div>
        </div>
        <div class="step  hidden" style="--order: 2" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'"    >
          <div class="step-order" style="--order: 2"><p>2</p></div>
          <div class="step-title">Personnalisation de vos souliers</div>
          <div class="step-description">
            <p>
              Maison Felger vous propose de choisir parmi une infinité de possibilités (modèles, couleurs, matières,
              formes,
              lacets), de manière à créer un soulier unique, mais surtout : celui de vos rêves.
            </p>
          </div>
        </div>
        <div class="step  hidden" style="--order: 3" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'"    >
          <div class="step-order" style="--order: 3"><p>3</p></div>
          <div class="step-title">Derniers ajustements</div>
          <div class="step-description">
            <p>
              Grâce à un prototype d’essai, Maison Felger réalise les dernières retouches pour
              vous
              proposer des souliers parfaitement ajustés.
            </p>
          </div>
        </div>
        <div class="step  hidden" style="--order: 4" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'"    >
          <div class="step-order" style="--order: 4"><p>4</p></div>
          <div class="step-title">Réception de vos souliers</div>
          <div class="step-description">
            <p>
              Une fois votre nouvelle paire façonnée par les soins de nos artisans, nous vous
              proposons
              de récupérer vos souliers dans notre boutique, ou de les faire livrer sur le lieu de votre choix.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="block-gif  hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn__delay'"   >
      <img src="assets/images/9_GIF-1-2.gif" >
    </div>
  </div>

  <div class="second-block" id="precommande">
    <app-slider [images]="images" [type]="'background'"></app-slider>
    <div class="title-block">
      <div class="btn-exclusivite hidden" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn'" >
        <button (click)="prendreRdv()"  mat-button   >RÉSERVEZ VOTRE PAIRE</button>
      </div>
      <div class="title">Précommande</div>
      <div class="sub-title">EN EXCLUSIVITÉ</div>
    </div>
  </div>
</div>
