.hidden{
  opacity: 0;
}
.container {
  display: block;

  .experience-wrapper{
    max-width: 1200px;
    margin:0 auto;
  }

  .first-block {
    display: block;
    position: relative;
    padding: 40px 0;

    .content-block {
      text-align: initial;
      margin: 0 30px;
      width: auto;
      .title {
        font-size: 30px;
        font-family: mf-medium-italic;
        line-height: initial;
      }
      .sub-title {
        margin-bottom: 10px;
        font-size: 12px;
        font-family: mf-inter-v;
        letter-spacing: 2px;

      }
      .block-steps {
        .step {
          margin: 0;
          position:relative;
          letter-spacing: 1px;
          .step-order {
            font-family: mf-bold;
            font-size: 35px;
            &:before{
              content:"";
              width: 0px;
              height: 1px;
              top: 16px;
              left: 58px;
              position: absolute;
              background-color: #000000;

            }

            p{
              top: 23px;
              position: absolute;
            }
          }
          .step-title {
            font-family: mf-bold;
            font-size: 12px;
            padding: 30px 0 5px 40px;
          }
          .step-description {
            font-family: mf-italic;
            font-size: 12px;
            padding:  0 0 0px 40px;
            p {
              margin: 0;
            }
            .too-small {
              font-size: 10px;
            }
          }
        }
      }
    }

    .block-gif {
      display: none;
      position: absolute;
      bottom: -100px;
      right: 5%;
      z-index: 4;
      img {
        width: 450px;
      }
    }
    .block-gif-mobile{
      display: block;
      img {
        width: calc( 100% - 80px);
        margin: 0 auto;
      }
    }

  }

  .second-block {
    color: #FCF8F6;
    position: relative;
    width: 100%;
    max-height: 990px;
    min-height: 400px;
    .title-block {
      z-index: 1;
      text-align: center;
      position: absolute;
      top: 35%;
      width: inherit;
      letter-spacing: 2px;
      .title {
        font-size: 36px ;
        font-family: mf-bold-italic;
        padding: 25px;
      }

      .sub-title {
        font-family: mf-inter-v;
        font-size: 16px;
      }

      .btn-exclusivite {
        padding-bottom: 10px;
        button {
          font-family: mf-inter-v;
          font-size: 14px;
          color: #FCF8F6;
          border-radius: 0;
          letter-spacing: 2px;
          border: 1px solid #B56D55;
          margin-top: 10px;
          padding: 8px 20px;
          &:hover {
            background-color: #B56D55;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {

  .container {
    .first-block {
      display: flex;
      margin: 0 auto;
      max-width: 1400px;
      .content-block {
        text-align: initial;
        padding: 50px;
        width: 50%;
        max-width: 600px;
        .title {
          font-size: 46px;
        }
        .block-steps {
          .step {
            margin: 30px 0;
            .step-order {
              &:before{
                top: 10px;
                left: 40px;
              }
            }
            .step-title {
              font-size: 18px;
              padding: 30px 0 5px 50px;
            }
            .step-description {
              font-size: 15px;
              p{
                line-height: 1.5;
              }
            }
          }
        }
      }

      .block-gif {
        top: -25px;
        display: block;
        img {
          width: 562px;
        }
      }
      .block-gif-mobile{
        display: none;
      }
    }

    .second-block {
      .title-block {
        top: 24%;
        .title {
          font-size: 30px ;
          font-size: 64px;
          font-family: mf-bold-italic;
          padding: 40px;
        }

        .sub-title {
          font-size: 18px;
        }

        .btn-exclusivite {
          padding-bottom : 60px;
        }
      }
    }
  }
}
