<div class="background" *ngIf="bgtype==='background'">
    <swiper class="backgroundSwiper" [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let slide of images">
                <img [src]="slide" />
            </div>
        </div>
    </swiper>
</div>

<div class="carousel" *ngIf="bgtype==='carousel'">
    <swiper class="carouselSwiper" [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let slide of images">
                <img [src]="slide" />
            </div>
        </div>
    </swiper>
</div>

<div class="offre" *ngIf="bgtype==='offre'">
    <swiper class="offreSwiper" [config]="config">
        <div class="swiper-button-prev">
            <svg-icon src="assets/svg/prev.svg" [svgStyle]="{  'fill':'rgb(0,0,0)'}"></svg-icon>
        </div>
        <div class="swiper-button-next">
            <svg-icon src="assets/svg/next.svg" [svgStyle]="{ 'fill':'rgb(0,0,0)'}"></svg-icon>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let slide of images">
                <img [src]="slide.img" (click)="ShowContent(slide)"/>
                <div class="block-info next">
                    <div class="name">{{slide.name}}</div>
                    <div class="type">{{slide.type}}</div>
                    <div class="price">{{slide.price}}</div>
                </div>
            </div>
        </div>
    </swiper>
</div>

<div class="block-articles" *ngIf="bgtype==='articles'">
    <swiper class="offreSwiper" [config]="config">
        <div class="swiper-button-prev">
            <svg-icon src="assets/svg/prev.svg" ></svg-icon>
        </div>
        <div class="swiper-button-next">
            <svg-icon src="assets/svg/next.svg" ></svg-icon>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let slide of images">
                <div class="article">
                    <p class="article-item">{{slide.article}}</p>
                    <p class="article-writer">{{slide.writer}}</p>
                    <p class="article-presse">{{slide.presse}}</p>
                </div>
            </div>
        </div>
    </swiper>
</div>

