#Calque_1 > polyline{
    stroke: #fff !important;
}
.offre{
    .offreSwiper{
        .swiper-button-next{
            width: 40px;
            position: absolute;
            top: 40%;
            right: 0;
            z-index: 1000;
        }
        .swiper-button-prev{
            width: 40px;
            position: absolute;
            top: 40%;
            left: 0;
            z-index: 1000;
        }
        .swiper-wrapper{
            .swiper-slide{
                img{
                    width: calc(100% - 80px);
                }
                .block-info {
                    line-height: 24px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    .name {
                        font-family: mf-bold;
                        font-size: 19px;
                    }

                    .type {
                        margin: auto;
                        font-size: 13px;
                    }

                    .price {
                        font-size: 14px;
                        font-family: mf-regular;
                        line-height: 1;
                    }

                  .discription{
                    position: absolute;
                    bottom: 0;
                    line-height: normal;
                    color: black;
                    background-color: #FCF8F6;
                    .header {
                      display: flex;
                      .title{
                        flex: 9;
                        font-size: 30px;
                        padding: 20px 34px;
                        text-align: center;
                        font-family: mf-italic;
                      }

                      .btn-close {
                        padding: 10px 4px;
                        flex: 1;
                        button {
                          border: none;
                          padding: 0;
                          background-color: #FCF8F6;
                          cursor: pointer;
                          &:focus {
                            outline: none;
                          }
                          img {
                            background-color: #FCF8F6;
                            width: 100%;
                          }
                        }
                      }
                    }
                    .content {
                      font-size: 14px;
                      font-family: mf-inter-v;
                      letter-spacing: 1px;
                      padding: 0 30px;
                      line-height: 24px
                    }
                  }
                }
            }

        }
    }
}

.block-articles {
    margin: 30px 0px;
    .offreSwiper{
        #Calque_1 > polyline{
            stroke: #000 !important;
        }
        .swiper-button-next{
            width: 40px;
            position: absolute;
            top: 30%;
            right: 0;
            z-index: 1000;
        }
        .swiper-button-prev{
            width: 40px;
            position: absolute;
            top: 30%;
            left: 0;
            z-index: 1000;
        }
        .swiper-wrapper{
            .swiper-slide{
                .article {
                    width: 70%;
                    font-family: mf-italic;
                    font-size:12px ;
                    margin: 40px auto;
                    height: 180px;

                    .article-item {
                      padding: 20px 0;
                      line-height: normal;
                    }

                    .article-writer {
                      font-family: mf-inter-v;
                      margin: 0;
                      line-height: 1.5;
                      letter-spacing: 1.5px;
                    }

                    .article-presse {
                      font-family: mf-inter-v;
                      font-weight: bold;
                      letter-spacing: 1px;
                    }
                  }
            }

        }
    }
}

.background{
    width: 100%;
    height: 100%;
    .backgroundSwiper{
        .swiper-wrapper{
            box-sizing: border-box;
            .swiper-slide{
                max-height: 750px;
                img{
                    width: 200vw;
                    height: auto;
                }
            }
        }
    }
}

.carousel{
    width: 100%;
    height: 100%;
    .carouselSwiper{
        .swiper-wrapper{
            box-sizing: border-box;
            max-width: 300px;
            .swiper-slide{
                max-width: 300px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {

    .background{
        width: 100%;
        height: 100%;
        .backgroundSwiper{
            .swiper-wrapper{
                box-sizing: border-box;
                .swiper-slide{
                    max-height: 750px;
                    img {
                        width: 100vw;
                        height: auto;
                    }
                }
            }
        }
    }

    .carousel{
        .carouselSwiper{
            .swiper-wrapper{
                box-sizing: border-box;
                max-width: 500px;
                .swiper-slide{
                    max-width: 500px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .block-articles {
        .offreSwiper{
            .swiper-button-next{
                right: 15px;
            }
            .swiper-button-prev{
                left: 15px;
            }
            .swiper-wrapper{
                .swiper-slide{
                    .article {
                        margin: 40px auto;
                        height: 200px;
                        width: 66%;
                        font-size: 18px;

                        .article-item {
                            line-height: 30px;
                            max-width: 500px;
                            margin: 0 auto;
                        }

                        .article-writer {
                            margin: auto;
                        }

                        /* .article-presse {
                          font-weight: bold;
                          letter-spacing: 1px;
                        } */
                      }
                }

            }
        }
    }

}
