<h2 mat-dialog-title *ngIf="data.mode === 'Add'" class="title-modal">Ajouter un utilisateur</h2>
<h2 mat-dialog-title *ngIf="data.mode === 'Edit'" class="title-modal">Modifier un utilisateur</h2>

<mat-dialog-content [formGroup]="userForm">
  <div class="mat-typography">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="nom" matInput placeholder="Nom" required/>
          <mat-hint *ngIf="userForm.controls.nom.dirty && userForm.controls['nom'].hasError('required')">
            Nom est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="prenom" matInput placeholder="Prénom" required/>
          <mat-hint
            *ngIf="userForm.controls.prenom.dirty && userForm.controls['prenom'].hasError('required')">
            Prénom est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="username" matInput placeholder="Nom d'utilisateur" required/>
          <mat-hint
            *ngIf="userForm.controls.username.dirty && userForm.controls['username'].hasError('required')">
            Nom d'utilisateur est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Ex: name@gmail.com" required/>
          <mat-hint *ngIf="userForm.controls.email.dirty && userForm.controls['email'].hasError('required')">
            Email est obligatoire
          </mat-hint>
          <mat-hint *ngIf="userForm.controls.email.dirty && userForm.controls.email.hasError('pattern') && !userForm.controls.email.hasError('required')">
            Veuillez saisir une adresse email valide
          </mat-hint>
          <mat-hint *ngFor="let error of errorForm">
            <p *ngIf="error.uuid == 'email'">{{error.label}}</p>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="adresse" matInput placeholder="Adresse" required/>
          <mat-hint
            *ngIf="userForm.controls.adresse.dirty && userForm.controls['adresse'].hasError('required')">
            Adresse est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Habilitation</mat-label>
          <mat-select formControlName="role" required>
            <mat-option value="ROLE_MANAGEMENT_STOCK">
              Rôle 2
            </mat-option>
            <mat-option value="ROLE_MANAGEMENT_CUSTOMER_ORDER">
              Rôle 3
            </mat-option>
            <mat-option value="ROLE_PURE_CONSULTATION">
              Rôle 4
            </mat-option>
          </mat-select>
          <mat-hint
            *ngIf="userForm.controls.role.dirty && userForm.controls['role'].hasError('required')">
            Habilitation est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-radio-group formControlName="statut" (change)="changed($event)">
          <mat-radio-button [color] ="color" value="true" >Actif</mat-radio-button>
          <mat-radio-button [color] ="color" value="false" >Inactif</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="button-position">
  <button class="mat-raised-button mat-primary" (click)="save()">Enregistrer</button>
  <button class="mat-raised-button" (click)="close()">Quitter</button>
</mat-dialog-actions>

