.valide{
  color: black !important;
}
.container {
  position: relative;
  .header {
    display: flex;

    .logo-desktop {
      display: none;
    }

    .btn-close {
      flex: 4;
      position: absolute;
      top: 0;
      right: 0;
      button {
        border: none;
        padding: 0;
        background-color: white;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        img {
          background-color: white;
          width: 100%;
        }
      }
    }
  }

  .content {
    .title {
      font-family: "mf-semi-bold-italic";
      text-align: center;
      font-size: 24px;
      letter-spacing: 1.5px;
      line-height: 1;
      padding: 50px 16px 20px;
    }
    .form {
      .form-element {
        padding-left: 22px;
        .input {
          width: 100%;
        }
      }

      .btn-ok {
        color: #bbbbbb;
        background: transparent;
        border: none;
        font-family: mf-italic;
        font-size:20px;
        margin: auto;
        width: 100%;
        span {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .container {
    .header {
      .logo-desktop{
        display: initial;
        flex: 8;
        text-align: center;
        padding-bottom: 25px;
      }
    }

    .content {
      .title {
        font-size: 30px;
        padding: 0 0 20px;
        .mobile-only {
          display: none;
        }
      }

      .form {
        .full-name {
          display: flex;
        }

        .form-element {
          .email-input {
            width: 80%;
          }
        }

        .btn-ok {
          padding-top: 40px;
          span {
            padding: 10px;
          }
        }
      }
    }
  }
}
