<div class="container">
  <div class="header">
    <div class="logo-desktop">
      <svg-icon src="assets/svg/logo_hp.svg" [svgStyle]="{ 'width.px':260}"></svg-icon>
    </div>
    <div class="btn-close">
      <button (click)="closeModale()">
        <svg-icon src="assets/svg/croixpopup.svg" [svgStyle]="{ 'height.px':30, 'width.px':30 }"></svg-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <p>
        Oui, je souhaite recevoir la newsletter
        <span class="mobile-only">
          <svg-icon src="assets/svg/MF.svg" [svgStyle]="{ 'width.px':48, 'verticalAlign':'middle'}"></svg-icon>
        </span>!
      </p>
    </div>
    <form (submit)="sendData()" [formGroup]="form" class="form">
      <div class="full-name">
        <div class="form-element">
          <mat-form-field class="input">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="lastname" required/>
          </mat-form-field>
        </div>
        <div class="form-element">
          <mat-form-field class="input">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="fistname" required/>
          </mat-form-field>
        </div>
      </div>
      <div class="form-element">
        <mat-form-field class="email-input input">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" required/>
        </mat-form-field>
      </div>
      <button class="btn-ok {{form.valid ? 'valide':''}}"><span (click)="sendData()">ok</span></button>
    </form>
  </div>
</div>
