nav.menu {
  width: 100%;
  height: 80vh;
}

.menu-animation{
  animation: fadeInUp ease forwards;
  animation-delay: calc(var(--order) * 0.25s );
  animation-duration: 0.75s;
}

ul.menu-list {
  width: auto;
  list-style: none;
  background: transparent;
  padding: 0 0px 0 0px;
  li.menu-item {
    opacity:0;
    height: 30px;
    font-size: 12px;
    height: 30px;
    font-size: 14px;
    font-family: "mf-inter-v";
    line-height: 22px;
    white-space: nowrap;
    letter-spacing: 1px;

    text-align: left;
    margin: 20px 0;
    a {
      cursor: pointer;
      &.mail, &.tel {
        color: white;
      }
    }

    a, p {
      text-decoration: none;
      color: #fff;

      .menu-item-label {
        text-transform: uppercase;
        float: left;
      }

      .trait {
        display: block;
        width: 0px;
        border-bottom: 1px solid #fff;
        left: 0px;
        bottom: -25px;
        position: relative;
        animation: noTraitMenuDesktop ease forwards;
        animation-delay: 0s;
        animation-duration: 0.5s;

        &::before {
          content: '';
        }
      }
    }
  }
}

.mobile-only{
  padding-top: 40px;
  .btn-hp-action {
    background-color: transparent;
    border: 1px solid #E8FF01;
    padding: 4px 60px;
    width: 80%;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 0;
    margin-bottom: 60px;
    width: 100%;
    font-family: 'mf-inter-v';
    letter-spacing: 2px;
  }
  img{
    display: block;
    margin:  40px auto 30px auto;
    width: 300px;
  }
  .media{
    display: block;
    margin-top: 70px;
    width:100%;
    .instagram{
      float:left;
    }
    .linkedin{
      float:right;
    }
    .facebook{
      margin:0 auto;
      text-align: center;
    }
    div a {
      margin: 0 ;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-family: "mf-inter-v";
    }
  }
}


@media screen and (min-width: 767px) {
  nav.menu {
    width: 100%;
    height: 390px;
  }

  ul.menu-list {
    width: auto;
    list-style: none;
    background: transparent;
    padding: 0 40px;

    li.menu-item {
      height: 30px;
      width: fit-content;
      text-align: left;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 1px;
      font-family: 'mf-inter-v';

      a {
        cursor: pointer;

        &.mail, &.tel {
          color: white;
        }
      }

      a, p {
        text-decoration: none;
        color: #9a646f;

        .menu-item-label {
          text-transform: uppercase;
        }

        &:hover {
          color: white;
          .trait {
            width: 0px;
            animation: traitMenuDesktop ease forwards;
            animation-delay: 0s;
            animation-duration: 0.5s;
          }
        }
      }
    }
  }

  .mobile-only{
    display: none;
  }
}
