<nav class="menu">
  <ul class="menu-list">
    <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}}" style="--order: 1" >
      <a (click)="isHomePage? scrollToElement('hpSection'): redirectToHomePage('hpSection')">
        <span class="menu-item-label">Notre Histoire</span>
        <span class="trait" style="--length: 128.28px" ></span>
<!--    </span><span class="menu-item-description">Paris - Fougères</span> -->
      </a>
    </li>
    <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 2" >
      <a (click)="isHomePage? scrollToElement('excellence'): redirectToHomePage('excellence')">
        <span class="menu-item-label">Excellence Française & Technologie</span>
        <span class="trait" style="--length: 321.27px" ></span>
<!--    <span class="menu-item-description">& Technologie</span> -->
      </a>
    </li>
    <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 3" >
      <a (click)="isHomePage? scrollToElement('offre'): redirectToHomePage('offre')">
      <span class="menu-item-label">Notre Offre</span>
      <span class="trait" style="--length: 106.44px" ></span>
<!--  <span class="menu-item-description">Contemporain — Intemporel — Classique — Héritage</span> -->
    </a>
    </li>
    <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 3" >
      <a (click)="isHomePage? scrollToElement('articles'): redirectToHomePage('articles')">
        <span class="menu-item-label">Nos articles</span>
        <span class="trait" style="--length: 106.44px" ></span>
      </a>
    </li>
    <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 4" >
      <a (click)="isHomePage? scrollToElement('experience'): redirectToHomePage('experience')">
        <span class="menu-item-label">Une Expérience Unique et Sur-Mesure</span>
        <span class="trait" style="--length: 328.33px" ></span>
<!--    <span class="menu-item-description">Du Sur-Mesure</span> -->
      </a>
    </li>
    <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 5" >
      <a (click)="isHomePage? scrollToElement('precommande'): redirectToHomePage('precommande')">
        <span class="menu-item-label">Précommande</span>
        <span class="trait" style="--length: 121.39px" ></span>
<!--    <span class="menu-item-description">En Exclusivité</span> -->
      </a>
    </li>
    <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 6" >
      <a (click)="isHomePage? scrollToElement('contact'): redirectToHomePage('contact')">
        <span class="menu-item-label">Nous Contacter</span>
        <span class="trait" style="--length: 143.11px" ></span>
<!--         <span class="menu-item-description">
          <a href="mailto:contact@maisonfelger.fr" class="email">contact@maisonfelger.fr</a>
          <a href="tel:+33954325487" class="tel">+33(0)9 54 32 54 87</a>
        </span> -->
      </a>
    </li>
    <div class="mobile-only">
      <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 7">
          <button mat-button (click)="prendreRdv()" class="btn-hp-action">PRENDRE RENDEZ-VOUS</button>
      </li>
      <li class="menu-item {{isOpen? 'menu-animation' :'no-animation'}} " style="--order: 8">
          <div class="media">
            <div class="instagram"><a class="a-tag" href="https://www.instagram.com/maisonfelger/" target="_blank">instagram</a></div>
            <div class="linkedin"><a class="a-tag" href="https://www.linkedin.com/company/maisonfelger/" target="_blank">linkedin</a></div>
            <div class="facebook"><a class="a-tag" href="https://www.facebook.com/maisonfelger/" target="_blank">facebook</a></div>
          </div>
      </li>
    </div>
  </ul>

</nav>
