.full-width-table {
  width: 100%;
}
.class-icon {
  margin-right: 2px;
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title-box {
  flex: 26;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.add-box {
  flex: 1;
}

.mat-raised-button {
  min-width: 48px;
  line-height: 32px;
}
.mat-card-header .mat-card-title {
  margin-bottom: 17px;
}
.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}
.container {
  margin: 0 20px;
}
.mat-card-header {
  display: inline;
}
.error-autorization{
  padding-top: 66px;
}
