<div class="container">
  <div *ngIf="!visibility" class="error-autorization"> Vous n'êtes pas l'autorisation à cette page</div>
  <mat-card class="shipping-card" *ngIf="visibility">
    <mat-card-header>
      <div class="box">
        <div class="title-box">
          Liste des modèles
        </div>
        <div class="add-box" *ngIf="visibility_create">
          <button (click)="openAddModeleDialog()" matTooltip="Nouveau modèle" mat-mini-fab color="primary">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <app-list [dataSource$]="modele$" [actionList]="actionList" [rowColumns]="rowColumns"
                [headerColumns]="headerColumns"
                (callActivateFunction)="activateMethod($event)" (callDeactivateFunction)="deactivateMethod($event)" (callDeleteFunction)="deleteMethod($event)"
                (callEditFunction)="editMethod($event)" (callShowFunction)="showMethod($event)"></app-list>
    </mat-card-content>
  </mat-card>
</div>

