body {
  font-family: mf-regular cursive;
  overflow-y: hidden !important;
}

.container {
  height: 100%;
  background-color: #ffffff;
}
#canvas {
  display: block;
  width: 100%;
  height: 70%;
}
.options {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}

.models {
  margin-right: 250px;
}

.textures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-3 {
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 20px;
}

.heading-4 {
  font-size: 1.4em;
}

.hidden-textures {
  margin-left: 10px;
  display: inline;
}

.oxfordBlue {
  background-color: #011638;
  height: 100px;
  width: 100px;
}

.macaroniCheese {
  background-color: #FCB07E;
  height: 100px;
  width: 100px;
}

.stealBlue {
  background-color: #3581B8;
  height: 100px;
  width: 100px;
}

.darkPurple {
  background-color: #1E0F1C;
  height: 100px;
  width: 100px;
}
.darkBlue {
  background-color: #384454;
  height: 100px;
  width: 100px;
}
.darkGreen {
  background-color: #26474E;
  height: 100px;
  width: 100px;
}

.fireRed {
  background-color: #c1292e;
  height: 100px;
  width: 100px;
}

.pantone {
  cursor: pointer;
  margin-right: 30px;
}

.alert-box {
  font-family: mf-inter-v;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  background-color: #f8f8f8;
}
