<div class="container">
  <canvas #canvas id="canvas"></canvas>
  <div class="options">
    <div class="models">
      <h3 class="heading-3">Choix du modele</h3>
      <mat-form-field appearance="fill">
        <mat-label>Choix de la paire</mat-label>
        <mat-select (selectionChange)="loadObjModel($event.value)">
          <mat-option *ngFor="let s of shoes" [value]="s.path">
            {{ s.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="box-mesh">
      <h3 class="heading-3">Configuration</h3>
      <div *ngFor="let p of parts">
        <h4 class="heading-4">{{ p.name }}</h4>
        <div class="textures">
          <div *ngFor="let color of p.colors" class="pantone {{color.displayName}}" (click)="putColor(color.hexCode, p.meshName)">
          </div>
        </div>
      </div>
      <div *ngIf="!parts.length" class="alert-box">
        Aucune configuration n'est possible pour cette paire.
      </div>
    </div>
  </div>
</div>

