<div class="container">
  <div *ngIf="!visibility" class="error-autorization"> Vous n'êtes pas l'autorisation à cette page</div>
  <form [formGroup]="articleForm" *ngIf="visibility">
    <mat-card class="shipping-card">
      <mat-card-header>
        <div class="box">
          <div class="back-box">
            <button *ngIf="isShow || isEdit" [routerLink]="'/admin/articles/list-article/'"
                    matTooltip="Retour vers la liste des articles" mat-mini-fab color="primary">
              <mat-icon>replay</mat-icon>
            </button>
          </div>
          <div class="title-box">
            {{FormTitle}} d'article
          </div>
          <div class="edit-box">
            <button *ngIf="!isEdit" [matMenuTriggerFor]="menu" matTooltip="Actions sur l'article" mat-mini-fab
                    color="primary">
              <mat-icon class="align-icons">settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="previewMethod(articleForm.value.slogan)" mat-menu-item>
                <mat-icon>visibility</mat-icon>
                <span>Aperçu</span>
              </button>
              <button [routerLink]="'/admin/articles/fiche-article/'+ id + '/edit'" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Modifier</span>
              </button>
              <button (click)="deleteMethod( articleForm.value.title, id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="title" matInput placeholder="Titre d'article" required />
              <mat-hint *ngIf="articleForm.controls['title'].hasError('required') && articleForm.controls.title.dirty">
                Nom d'article est obligatoire
              </mat-hint>
              <mat-hint *ngFor="let error of errorForm">
                <p *ngIf="error.uuid == 'title'">{{error.label}}</p>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="slogan" matInput placeholder="Slogan" required (change)="hideError()"/>
              <mat-hint
                *ngIf="articleForm.controls['slogan'].hasError('required') && articleForm.controls.slogan.dirty">
                Slogan est obligatoire
              </mat-hint>
              <mat-hint *ngFor="let error of errorForm">
                <p *ngIf="error.uuid == 'slogan' && articleForm.controls.slogan.dirty && !articleForm.controls['slogan'].hasError('required') && !articleForm.controls['slogan'].hasError('pattern')">{{error.label}}</p>
              </mat-hint>
              <mat-hint *ngIf="articleForm.controls['slogan'].hasError('pattern') && articleForm.controls.slogan.dirty && !articleForm.controls['slogan'].hasError('required')">
                Veuillez saisir un slog valide
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Choisir le status d'article</mat-label>
              <mat-select formControlName="status" required>
                <mat-option *ngFor="let state of status$ | async" [value]="state.uuid"
                            i18n="{{state.label}}">
                  <span *ngIf="state.label === 'Published'">Publié</span>
                  <span *ngIf="state.label === 'Draft'">En brouillon</span>
                  <span *ngIf="state.label === 'Private'">Privé</span>
                  <span *ngIf="state.label === 'In progress'">En cours</span>
                </mat-option>
              </mat-select>
              <mat-hint
                *ngIf="articleForm.controls['status'].hasError('required') && articleForm.controls.status.dirty">
                Statut est obligatoire
              </mat-hint>
              <mat-hint *ngFor="let error of errorForm">
                <p *ngIf="error.uuid == 'status'">{{error.label}}</p>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea formControlName="description" matInput placeholder="Description"></textarea>
              <mat-hint *ngIf="articleForm.controls['description'].hasError('maxlength') && articleForm.controls.description.dirty">
                La description d'article ne peut pas dépasser 255 caractères
              </mat-hint>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-tags [articleForm]="articleForm" [isEdit]="isEdit" [tags]="tags" [tagsError]="tagsError"></app-tags>
          </div>
          <div class="col">
            <app-file-input [formName]="articleForm"
                            [placeholder]="placeholder" (filesAdd)="displayFile($event)"
                            [accept]="accept" [isModal]="false" [previewImage]="false"
                            [uploadMultiple]="false" [filename]="filename$ | async" [isEdit]="isEdit"
                            [isRequired]="false" [fileUpload]="fileUpload$ | async" [sizeMax]="sizeMax" [isImg]="true"></app-file-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <editor [disabled]="!isEdit"
                    readonl
                    [init]="{height: 500,
                    plugins: [
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime table paste wordcount'
                    ],
                    toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
                    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'}"
                    apiKey="bauj4qpl6zcfee6ke3uy5nzo136t5o6pph0ecn852vehwd1t"
                    formControlName="content" required></editor>
            <mat-hint
              *ngIf="articleForm.controls['content'].hasError('required') && contentError && articleForm.controls['content'].dirty">
              Contenu est obligatoire
            </mat-hint>
            <mat-hint *ngFor="let error of errorForm">
              <p *ngIf="error.uuid == 'content'">{{error.label}}</p>
            </mat-hint>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm"></div>
          <div class="col-5 col-sm">
          </div>
          <div *ngIf="isEdit" class="col-2 col-sm-2">
            <mat-card-actions>
              <button color="primary" mat-raised-button (click)="save()">Enregistrer</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
