<mat-table #table [dataSource]="datalist" matSort>
  <ng-container matColumnDef="{{column.uuid}}" *ngFor="let column of rowColumns">
    <mat-header-cell *matHeaderCellDef> {{column.label}}</mat-header-cell>
    <ng-container *ngIf="(column.uuid != 'actions' && column.uuid != 'visibility' && column.uuid != 'statut' && column.uuid != 'roles' && column.uuid != 'rupture')">
      <mat-cell *matCellDef="let row"> {{row[column.uuid] == "null" ? '' : row[column.uuid] }} </mat-cell>
    </ng-container>
    <ng-container *ngIf="(column.uuid == 'roles')">
      <mat-cell *matCellDef="let row"> {{row[column.uuid] == 'ROLE_MANAGEMENT_STOCK' ? "Rôle 2" : (row[column.uuid] == 'ROLE_MANAGEMENT_CUSTOMER_ORDER' ? "Rôle 3": "Rôle 4")}} </mat-cell>
    </ng-container>
    <ng-container *ngIf="(column.uuid == 'visibility')">
      <mat-cell *matCellDef="let row"> {{row[column.uuid] == 1 ? "visible" : "invisible"}} </mat-cell>
    </ng-container>
    <ng-container *ngIf="(column.uuid == 'statut')">
      <mat-cell *matCellDef="let row"> {{row[column.uuid] == 1 ? "actif" : "inactif"}} </mat-cell>
    </ng-container>
    <ng-container *ngIf="(column.uuid == 'rupture')">
      <mat-cell *matCellDef="let row"> {{row[column.uuid] == 1 ? "Oui" : "Non"}} </mat-cell>
    </ng-container>
    <ng-container *ngIf="(column.uuid == 'actions')">
      <mat-cell *matCellDef="let row" class="action-link">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let action of actionList">
            <button mat-menu-item (click)="chooseMethod(action, row.uuid)" *ngIf="((row.visibility == 0 || row.statut == 0) && action.method == 'activate' && visibility == true) || ((row.visibility == 1 || row.statut == 1) && action.method == 'deactivate' && visibility == true) || (action.method != 'activate' && action.method != 'deactivate' && visibility == true) || (visibility == false && action.method == 'show')">
              <mat-icon>{{action.icon}}</mat-icon>
              <span
                *ngIf="((row.visibility == 0 || row.statut == 0) && action.method == 'activate' && visibility == true) || ((row.visibility == 1 || row.statut == 1) && action.method == 'deactivate' && visibility == true) || (action.method != 'activate' && action.method != 'deactivate' && visibility == true) || (visibility == false && action.method == 'show')">{{action.name}}</span>
            </button>
          </div>
        </mat-menu>
      </mat-cell>
    </ng-container>
  </ng-container>
  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef=headerColumns></mat-header-row>
  <mat-row *matRowDef="let row; columns: headerColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
