.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.user {
  font-size: 13px;
  margin-left: 0px;
  margin-bottom: -6px;
}
.example-spacer {
  flex: 1 0 auto;
}
.keyboard {
  margin-bottom: -6px;
  margin-left: -16px;
}
