<mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleDrawer()"
        *ngIf="isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Maison Felger</span>
      <span class="example-spacer"></span>
      <mat-icon>person_outline</mat-icon>
      <span class="user">{{jwtUser}}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="keyboard">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="deconnect()">Déconnexion</button>
      </mat-menu>
</mat-toolbar>
