<div class="auth-container">
  <mat-card>
    <svg-icon [svgStyle]="{ 'width.px':400, 'fill':'rgb(0,0,0)'}" src="assets/svg/logo_hp.svg"></svg-icon>
    <mat-card-header>
      <mat-card-title class="mat-card-title" mat-card-title>Authentification</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-error *ngIf="loginInvalid">
          Le nom d'utilisateur et le mot de passe n'ont pas été reconnus
        </mat-error>
        <mat-form-field class="full-width-input">
          <input formControlName="username" matInput placeholder="Email ou Nom d'utilisateur" required type="email">
          <mat-error>
            Veuillez entrer une adresse email valide
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input formControlName="password" matInput placeholder="Mot de passe" required type="password">
          <mat-error>
            Veuillez entrer un mot de passe valide
          </mat-error>
        </mat-form-field>
        <button color="primary" mat-raised-button>Connecter</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

