.auth-container{
  background-image: url("../../../../../assets/images/hp-background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
mat-card {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 40px;
}

mat-form-field {
  display: block;
}

::ng-deep .mat-card-header-text{
  width: 100%;
  .mat-card-title{
    text-align: center;
  }
}
