.container {
  background-image: url("../../../assets/images/footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FCF8F6;
  min-height: 500px;
  padding: 30px 25px 0px 25px;

  .a-tag {
    color: inherit;
    text-decoration: auto;
  }

  .content-center {
    text-align: center;

    .header {
      font-size: 30px;
      font-family: mf-italic;
      padding-bottom: 20px;
    }

    .content-item {
      padding: 2px;
      font-family: mf-inter-v;
      letter-spacing: 1px;
    }

    .btn-rdv{
      background-color: transparent;
      border: 1px solid #ffffff;
      padding: 4px 30px;
      color: #ffffff;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 0;
      margin: 50px auto;
      font-weight: 100;
      letter-spacing: 2px;
    }
  }

  .content-bottom {
    flex-flow: wrap;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    .data-container {
      display: block;
      width: inherit;
      font-size: 13px;
      text-align: initial;
      letter-spacing: 1px;

      .header {
        margin-bottom: 20px;
        font-size: 13px;
        font-family: mf-inter-v;
      }

      .header-legales {
        font-size: 10px;
        cursor: pointer;
        margin-top: -50px;
      }

      .content {
        display: flex;
        align-items: flex-start;
        text-align: left;
        font-family: 'mf-inter-v';
        .newsLetter {
          width: 100%;
          div {
            width: 80%;
            float: left;
            .email-input {
              background: transparent;
              display: block;
              width: 100%;
              border-style: hidden;
              border-bottom-style: groove;
              border-bottom-color: #ffffff;
              color: #FCF8F6;
              font-size: 13px;
              outline: none;
              &.active{
                border-bottom-color:#E8FF01 ;
                color: #E8FF01;
              }
            }
          }
          .btn-ok {
            width: 20%;
            color: #FCF8F6;
            background: transparent;
            border: none;
            font-family: mf-italic;
            font-size: 15px;
            float: left;
            cursor: pointer;
            &.active{
              color: #E8FF01;
            }
          }

        }
      }
    }

    .media {
      flex: 100%;
      order: 1;
      margin-bottom: 40px;
    }
    .newsletter {
      flex: 100%;
      order: 2;
      margin-bottom: 40px;
    }
    .nous-soutiennent{
      flex: 100%;
      order: 3;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    .legales {
      flex: 100%;
      order: 4;
      text-align: right;
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 767px) {
  .container {
    background-image: url("../../../assets/images/footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FCF8F6;
    min-height: 500px;
    padding: 40px 0;

    .a-tag {
      color: inherit;
      text-decoration: auto;
      line-height: 2px;
    }

    .content-center {
      text-align: center;
      padding: 2% 0 10%;

      .header {
        font-size: 46px;
        font-family: mf-italic;
        padding-bottom: 45px;
      }

      .content-item {
        padding: 4px;
        font-family: mf-inter-v;
        letter-spacing: 1px;
      }
      .btn-rdv{
        display: none;


      }
    }

    .content-bottom {
      flex-flow: wrap;
      display: flex;
      max-width: none;
      margin: 0 auto;

      .data-container {
        display: block;
        width: inherit;
        margin-left: 40px;
        font-size: 13px;
        text-align: initial;
        letter-spacing: 1px;

        .header {
          margin-bottom: 20px;
          font-size: 13px;
          font-family: mf-inter-v;
        }

        .header-legales {
          font-size: 15px;
          margin-top: 0px;
        }

        .content {
          display: flex;
          align-items: flex-start;
          text-align: left;
        }
      }

      .media {
        flex: 15%;
        order: 1;
      }
      .newsletter {
        flex: 30%;
        order: 2;
      }
      .nous-soutiennent{
        flex: 20%;
        order: 3;
        margin-right: 20px;
      }
      .legales {
        flex: 15%;
        order: 4;
        text-align: left;
        padding-top: 0;
        padding-right: 5px;
      }
    }
  }
}
