<div class="container">

  <div class="content-center">
    <div class="header">Nous contacter</div>
    <div class="content-item">{{ infos.phoneNumbre}}</div>
    <div class="content-item"><a class="a-tag" href="mailto:{{ infos.email}}">{{ infos.email | uppercase}}</a></div>
    <div class="content-item">{{ infos.address}}</div>
    <button mat-button  class="btn-rdv" (click)="prendreRdv()">PRENDRE RENDEZ-VOUS</button>
  </div>

  <div class="content-bottom">
    <div class="data-container media">
      <div class="header">SUIVEZ MAISON FELGER </div>
      <div><a class="a-tag" href="{{infos.instagram}}" target="_blank">instagram</a></div>
      <div><a class="a-tag" href="{{infos.facebook}}" target="_blank">facebook</a></div>
      <div><a class="a-tag" href="{{infos.linkedin}}" target="_blank">linkedin</a></div>
    </div>
    <div class="data-container newsletter">
      <div class="header">INSCRIPTION À LA NEWSLETTER</div>
      <div class="content">
        <label class="newsLetter ">
          <div>
            <input [formControl]="email" class="email-input {{inputClass}}" (ngModelChange)="setActive()" type="email" placeholder="email">
            <mat-error *ngIf="email.invalid && email.dirty">{{getErrorMessage()}}</mat-error>
          </div>
          <button  (click)="addNewsLetter()" class="btn-ok {{inputClass}}">ok</button>
        </label>
        
      </div>
    </div>
    <div class="data-container nous-soutiennent">
      <div class="header">
        <p>ILS NOUS SOUTIENNENT</p>
        <img src="assets/images/CCI-ille-et-vilaine.jpg" height="40">
      </div>
    </div>
    <div class="data-container legales">
      <div class="header header-legales" (click)="openMentionsLegales()">mentions légales</div>
    </div>
  </div>

</div>

