<div class="confirm-container">
  <mat-card>
    <svg-icon [svgStyle]="{ 'width.px':400, 'fill':'rgb(0,0,0)'}" src="assets/svg/logo_hp.svg"></svg-icon>
    <mat-card-header>
      <mat-card-title class="mat-card-title" mat-card-title>Confirmation du compte</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="confirmUser()" [formGroup]="userForm">
        <mat-form-field class="full-width-input">
          <input formControlName="email" matInput placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input formControlName="password" matInput placeholder="Mot de passe" required type="password">

          <mat-hint *ngIf="userForm.controls.password.dirty">
            <div *ngIf="userForm.controls.password.hasError('required')">Mot de passe est obligatoire.</div>
            <div *ngIf="userForm.controls.password.hasError('pattern')">Mot de passe est invalide.</div>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input formControlName="confirmPassword" matInput placeholder="Confirmez le mot de passe" required type="password">
          <mat-hint *ngIf="userForm.controls.confirmPassword.dirty ">
            <div *ngIf="userForm.controls.confirmPassword.hasError('required')">Confirmez votre mot de passe.</div>
            <div *ngIf="userForm.controls.confirmPassword.hasError('confirmedValidator')">Les mots de passes ne sont pas identiques.</div>
          </mat-hint>
        </mat-form-field>
        <button color="primary" mat-raised-button [class.spinner]="loading" [disabled]="loading" >Confirmer</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
