.main-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}
.confirm-container{
  background-image: url("../../../../../assets/images/hp-background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

mat-card {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 40px;
}
mat-form-field {
  display: block;
}

::ng-deep .mat-card-header-text{
  width: 100%;
  .mat-card-title{
    text-align: center;
  }
}
.mat-hint {
  color: #f44336;
  font-size: 10.5px
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
