.container {
  background-image: url("../../../assets/images/bgrd-offre.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FCF8F6;

  .title {
    text-align: center;
    font-family: mf-italic;
    font-size: 30px;
    padding: 40px 0;
  }

  .container-body {
    max-width: 1200px;
    margin: 0 auto;

    .inline-block {
      display: flex;
      flex-flow: wrap;

      .base-block {
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 0.25rem;
        .block-image {
          padding: 20px 0;
          position: relative;
          border-radius: 0.25rem;
          img {
            width: 388px;
            border-radius: 0.25rem;
            height: 200px;
          }
          mat-card-title {
            font-size: 20px;
            font-family: mf-italic;
            letter-spacing: 1px;
            padding: 0 30px;
            line-height: 24px;
            height: 80px;
          }
          mat-card-actions{
            display: flex;
            width: 95%;
            justify-content: flex-end;
            font-family: mf-inter-v;

            .valid {
              color: #27647A;
            }
          }
        }
      }
    }
  }
}
