<div class="container">
  <div class="title">Nos articles</div>
  <div class="container-body">
    <div class="inline-block ">
      <div class="base-block" *ngFor="let item of articles$ | async" >
        <div class="block-image">
          <mat-card>
            <div *ngIf="item.image === ''">
              <img mat-card-image src="../../assets/svg/logoMFbg.svg">
            </div>
            <div *ngFor="let value of imagesInfos">
              <img mat-card-image [src]="value.path" *ngIf="item.image !== '' && value.name === item.image">
            </div>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-content fxFlex>
            </mat-card-content>
            <mat-card-actions fxFlexAlign="end" align="end">
              <button class="valid" mat-stroked-button color="primary" (click)="showArticle(item.slogan)">
                Voir l'article
              </button>
            </mat-card-actions>

          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
