<div class="container">
  <form [formGroup]="modeleForm">
    <mat-card class="shipping-card">
      <mat-card-header>
        <div class="box">
          <div class="back-box">
            <button [routerLink]="'/admin/modeles/list-modele/'"
                    matTooltip="Retour vers la liste des modèles" mat-mini-fab color="primary">
              <mat-icon>replay</mat-icon>
            </button>
          </div>
          <div class="title-box">
            Affichage du modèle
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="name" matInput placeholder="Nom du modèle"/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="reference" matInput placeholder="Référence"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input formControlName="price" matInput placeholder="Prix"/>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="fabricDuration" placeholder="Durée de fabrication par jour"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea formControlName="characteristic" matInput placeholder="Caractéristiques"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="file3D" placeholder="les images du modèle"/>
            </mat-form-field>
            <div *ngFor="let element of imageSrc" class="container-image">
              <img [src]="element" class="imageUpload">
            </div>
          </div>
          <div class="col">
            <label class="show-label">Visibilité</label>
            <mat-radio-group formControlName="visibility"  class="visibility-radio">
              <mat-radio-button value="true">Visible</mat-radio-button>
              <mat-radio-button value="false" >Invisible</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
