.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mat-card-header {
  display: inline;
}

.container {
  margin: 0 20px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 17px;
}

.error-title {
  font-size: 75%;
}

.mat-form-field {
  margin: 10px 0;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-box {
  flex: 28;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500
}

.edit-box {
  flex: 1;
}

.back-box {
  flex: 1;
}

.mat-raised-button {
  min-width: 48px;
  line-height: 32px;
}

.mat-card-actions {
  margin-left: 10px;
  margin-right: 0px;
  padding: 17px 0;
  width: 100%;
}

.mat-hint {
  color: #f44336;
  font-size: 10.5px;
}

.class-icon {
  margin-right: 2px;
}

.material-icons {
  font-size: 20px;
}

.align-icons {
  margin: 2px 1px !important;
}
.container-image{
  float: left;
  margin-right: 1px;
  position: relative;
}
.imageUpload{
  height: 100px;
  width:100px;
  position: relative;
}
.show-label {
  color: rgba(0,0,0,.60);
  margin-top: 10px;
}
.mat-radio-button {
  display: inline-flex;
  margin: 2em 1em 0em 0em;
}
.visibility-radio{
  display: flex;
  flex-direction: row;
  margin: -1em 0em;
}
