/* You can add global styles to this file, and also import other style files */
@import "~animate.css/animate";

@font-face {
  font-family: mf-italic;
  src: url("assets/fonts/PlayfairDisplay-Italic.ttf") format("opentype");
}

@font-face {
  font-family: mf-black-italic;
  src: url("assets/fonts/PlayfairDisplay-BlackItalic.ttf") format("opentype");
}

@font-face {
  font-family: mf-bold-italic;
  src: url("assets/fonts/PlayfairDisplay-BoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: mf-medium-italic;
  src: url("assets/fonts/PlayfairDisplay-MediumItalic.ttf") format("opentype");
}

@font-face {
  font-family: mf-semi-bold-italic;
  src: url("assets/fonts/PlayfairDisplay-SemiBoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: mf-extra-bold-italic;
  src: url("assets/fonts/PlayfairDisplay-ExtraBoldItalic.ttf")
    format("opentype");
}

@font-face {
  font-family: mf-medium;
  src: url("assets/fonts/PlayfairDisplay-Medium.ttf") format("opentype");
}

@font-face {
  font-family: mf-semi-bold;
  src: url("assets/fonts/PlayfairDisplay-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: mf-bold;
  src: url("assets/fonts/PlayfairDisplay-Bold.ttf") format("opentype");
}

@font-face {
  font-family: mf-extra-bold;
  src: url("assets/fonts/PlayfairDisplay-ExtraBold.ttf") format("opentype");
}

@font-face {
  font-family: mf-regular;
  src: url("assets/fonts/PlayfairDisplay-Regular.ttf") format("opentype");
}

@font-face {
  font-family: mf-black;
  src: url("assets/fonts/PlayfairDisplay-Black.ttf") format("opentype");
}

@font-face {
  font-family: mf-inter-v;
  src: url("assets/fonts/Inter-V.ttf") format("opentype");
}

.vitrine {
  ::placeholder {
    color: #616161;
    opacity: 1; /* Firefox */
  }

  .mat-snack-bar-container {
    color: rgb(0 0 0);
    background: #fcf8f6;
    border-radius: 0px !important;
  }

  .mat-simple-snackbar {
    font-family: "mf-inter-v";
  }

  .mat-simple-snackbar-action {
    color: #616161;
  }

  .mat-error {
    color: #616161 !important;
  }

  .animate__animated {
    visibility: visible !important;
  }

  .mat-dialog-container {
    border-radius: 0px !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #000;
  }

  .mat-focused .mat-form-field-required-marker {
    color: #000;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #000;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #aaaaaa;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
  .mat-form-field.mat-form-field-invalid
    .mat-form-field-label
    .mat-form-field-required-marker {
    color: #aaaaaa;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: #aaaaaa;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    caret-color: #aaaaaa;
  }

  .mat-form-field.mat-warn .mat-input-element,
  .mat-form-field-invalid .mat-input-element {
    color: #aaaaaa;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #000;
  }

  .animate__delay-0s {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  .animate__delay-0-25s {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }

  .animate__delay-0-5s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .animate__delay-0-75s {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
  }

  .animate__delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .animate__delay-1-25s {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
  }

  .animate__delay-1-5s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }

  @keyframes fadeInDelay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes stepOrderLine {
    0% {
      width: 0px;
    }
    100% {
      width: 50px;
    }
  }

  .animate__fadeIn__delay {
    animation: fadeInDelay ease forwards;
    animation-delay: calc(var(--order) * 0.25s);
    animation-duration: 1s;

    .step-order {
      &:before {
        animation: stepOrderLine ease forwards;
        animation-delay: calc(var(--order) * 0.5s);
        animation-duration: 1s;
      }
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  }

  @keyframes fadeInMenuDesktop {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes traitMenuDesktop {
    0% {
      width: 0;
    }
    100% {
      width: var(--length);
    }
  }

  @keyframes noTraitMenuDesktop {
    0% {
      width: var(--length);
    }
    100% {
      width: 0;
    }
  }

  .cdk-overlay-pane {
    max-height: 690px;
  }

  @media screen and (max-width: 767px) {
    .mat-dialog-container {
      padding: 24px 10px !important;
    }
  }

  .font-bold {
    font-family: mf-bold !important;
  }

  .font-italic {
    font-family: mf-italic !important;
  }

  .backdropBackground {
    background-color: transparent;
    opacity: 0.5 !important;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
header {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.success-snackbar {
  background: #4BB543;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.error-snackbar {
  background: #ED4337;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
