<div class="cookies" *ngIf="showCookiesBar" (scroll)="hideCookiesBar()" animateOnScroll [animationName]="'animated animate__animated animate__fadeIn animate__delay-1s'">
  <div class="content">
    <p>
      Ce site utilise des cookies.
      Ils améliorent votre navigation et la qualité de notre site.
      En y naviguant , vous acceptez l'utilisation de cookies tels que décrits dans notre <span (click)="openMentionsLegales()">Politique de confidentialité.</span>
    </p>
    <div class="btn-close">
      <i (click)="hideCookiesBar()">
        <svg-icon src="../assets/svg/croixpopup.svg"></svg-icon>
      </i>
    </div>
  </div>
</div>
