.cookies {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dccfbe;
  z-index: 1000;
  .content {
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 20px 0px;
    max-width: 300px;
    p {
      margin: 0;
      color: #777777;
      letter-spacing: 1px;
      font-family: mf-inter-v;
      font-size: 12px;
      span {
        cursor: pointer;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn-close {
      position: relative;
      left: 9px;
      top: 15px;
      width: 22px;
      &:hover {
          transform:rotate(360deg);
          transition-delay:0s;
          transition-duration: .3s;
        }
    }
  }
}
@media screen and (min-width: 767px) {
  .cookies {
    .content {
      padding: 5px;
      max-width: fit-content;
      p {
        margin-top: 4px;
      }

      .btn-close {
        top: 3px;
      }
    }
  }
}
