.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}
.input-file-inline{
  padding-top: 8px;
}

.col:last-child {
  margin-right: 0;
}

.mat-form-field {
  margin: 10px 0;
}

.mat-raised-button {
  min-width: 48px;
  line-height: 32px;
  margin: 4px;
}

.mat-hint {
  color: #f44336;
  font-size: 10.5px
}
.button-position-edit {
  margin-left: 77%;
}
.title-modal {
  text-align: center;
}

.mat-typography {
  width: 850px !important;
  height: auto !important;
  margin: 0 auto;
}
.mat-dialog-content {
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .full-width {
    width: 100%;
  }
  .mat-typography {
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
  }
  .mat-dialog-content {
    overflow: auto;
  }
  .button-position-edit {
    margin-left: 24%;
  }
}

.material-icons {
  font-size: 20px;
}
