<h2 mat-dialog-title *ngIf="data.mode === 'Add'" class="title-modal">Ajouter un Client</h2>
<h2 mat-dialog-title *ngIf="data.mode === 'Edit'" class="title-modal">Modifier un Client</h2>

<mat-dialog-content [formGroup]="clientForm">
  <div class="mat-typography">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="mail" matInput placeholder="Ex: name@gmail.com" required/>
          <mat-hint *ngIf="clientForm.controls.mail.dirty && clientForm.controls['mail'].hasError('required')">
            Email est obligatoire
          </mat-hint>
          <mat-hint *ngIf="clientForm.controls.mail.dirty && clientForm.controls.mail.hasError('pattern') && !clientForm.controls.mail.hasError('required')">
            Veuillez saisir une adresse email valide
          </mat-hint>
          <mat-hint *ngFor="let error of errorForm">
            <p *ngIf="error.uuid == 'mail'">{{error.label}}</p>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="lastName" matInput placeholder="Nom" required/>
          <mat-hint *ngIf="clientForm.controls.lastName.dirty && clientForm.controls['lastName'].hasError('required')">
            Nom est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input formControlName="firstName" matInput placeholder="Prénom" required/>
          <mat-hint
            *ngIf="clientForm.controls.firstName.dirty && clientForm.controls['firstName'].hasError('required')">
            Prénom est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Téléphone</mat-label>
          <input type="tel" formControlName="phoneNumber" matInput required/>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint
            *ngIf="clientForm.controls.phoneNumber.dirty && clientForm.controls['phoneNumber'].hasError('required')">
            Téléphone est obligatoire
          </mat-hint>
          <mat-hint *ngIf="clientForm.controls.phoneNumber.dirty && clientForm.controls.phoneNumber.hasError('pattern') && !clientForm.controls.phoneNumber.hasError('required')">
            Veuillez saisir un numéro de téléphone valide
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input type='text' formControlName="deliveryAdress" matInput
                 placeholder="Adresse de livraison" required/>
          <mat-hint *ngIf="clientForm.controls.deliveryAdress.dirty && clientForm.controls.deliveryAdress.hasError('required')">
            Adresse de livraison est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input type='text' formControlName="billingAdress" matInput
                 placeholder="Adresse de facturation"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input readonly [matDatepicker]="picker" (click)="picker.open()" formControlName="birthDate" matInput placeholder="Date de naissance"/>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="clientForm.controls.birthDate.dirty && clientForm.controls.birthDate.hasError('birthDayInvalide')">
            Veuillez saisir une date de naissance valide
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col input-file-inline">
        <app-file-input [formName]="clientForm"
                        [placeholder]="placeholderLeft" (filesAdd)="displayFootLeft($event)"
                        [accept]="accept" [previewImage]="false" [uploadMultiple]="false" [isModal]="true"
                        [filename]="footLeftName$ | async" [isEdit]="true" [isRequired]="true"
                        [fileUpload]="footLeftUpload$ | async" [fileErrorRequired]="footLeftError" [sizeMax]="sizeMax" [isImg]="false"></app-file-input>
      </div>
      <div class="col input-file-inline">
        <app-file-input [formName]="clientForm"
                        [placeholder]="placeholderRight" (filesAdd)="displayFootRight($event)"
                        [accept]="accept" [previewImage]="false" [uploadMultiple]="false" [isModal]="true"
                        [filename]="footRightName$ | async" [isEdit]="true" [isRequired]="true"
                        [fileUpload]="footRightUpload$ | async" [fileErrorRequired]="footRightError" [sizeMax]="sizeMax" [isImg]="false"></app-file-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input readonly [matDatepicker]="picker2" (click)="picker2.open()" formControlName="printExpirationDate" matInput
                 placeholder="Date de validité d'empreinte" required/>
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-hint
            *ngIf="clientForm.controls.printExpirationDate.dirty && clientForm.controls['printExpirationDate'].hasError('required')">
            Date de validité d'empreinte est obligatoire
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
      </div>
      <div class="col"></div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="button-position-edit">
  <button class="mat-raised-button mat-primary" (click)="save()">Enregistrer</button>
  <button class="mat-raised-button" (click)="close()">Quitter</button>
</mat-dialog-actions>
