.full-width {
  width: 90%;
  .myfilebrowser {
    display: flex;
  }
}
.width-in-modal {
  width: 80%;
  .myfilebrowser {
    display: flex;
  }
}
.inline-block{
  display: inline-flex;
}
.input-file-inline{
  padding-top: 10px;
}
#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
.mat-hint{
  color: #f44336;
  font-size: 10.5px;
}

@media screen and (max-width: 1024px) {
  .full-width {
    width: 75%;
  }
  .width-in-modal {
    width: 85%;
  }
  .myfilebrowser {
    display: flex;
  }
}
 .container-image{
   float: left;
   margin-right: 1px;
   position: relative;
 }
.container-image .close {
  position: absolute;
  background: rgba(32,33,36,0.6);
  color: #fafafa;
  top: -13px;
  right: -10px;
  z-index: 1;
  border-radius: 50%;
  fill: rgba(255,255,255,0.851);
  width: 24px;
  height: 24px;
  padding: 5px;
}
.container-image .mat-icon-button {
  line-height: 16px;
}
 .imageUpload{
   height: 100px;
   width:100px;
   position: relative;
 }
.material-icons {
  font-size: 20px;
}
.mat-icon-button{
  width: 20px;
}
.with-label{
  width: 100%;
}
.width-place{
  display: inherit;
  text-overflow: ellipsis;
}
