<div [formGroup]="formName" class="{{!isModal? 'input-file-inline' : ''}}">
  <mat-form-field class="{{(isModal && !uploadMultiple)? 'width-in-modal':'full-width'}} {{fileErrorRequired ? 'mat-form-field-invalid' : ''}}">
    <div class="myfilebrowser">
      <!-- Readonly Input to show File names -->
      <label class="with-label">
        <input matInput [placeholder]="placeholder" readonly formControlName="file" class="width-place" [required]="isRequired"/>
      </label>
      <input type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEvent($event)" name="fileUpload" [accept]="accept"
             [disabled]="!isEdit" [multiple]="uploadMultiple" title=" "/>
    </div>
    <mat-hint *ngIf="fileTypeError && !fileErrorRequired && !fileSizeError">
      Le format du fichier doit être '{{accept}}'
    </mat-hint>
    <mat-hint *ngIf="!fileTypeError && !fileErrorRequired && fileSizeError">
      la taille du fichier doit pas être supérieur à {{sizeMax}} MB
    </mat-hint>
    <mat-hint *ngIf="!fileTypeError && !fileErrorRequired && fileSizeError && isImg">
      la taille de l'image ne doit pas être supérieur à {{sizeMax}} MB
    </mat-hint>
    <mat-hint *ngIf="fileErrorRequired">
      Champs obligatoire
    </mat-hint>
  </mat-form-field>
  <div class="inline-block">
    <button mat-icon-button *ngIf="isEdit">
      <mat-icon matSuffix (click)="UploadFileInput.click()">attach_file</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isEdit">
      <mat-icon matSuffix (click)="removeFile()" *ngIf="!uploadMultiple && !isImg" color="warn">delete</mat-icon>
    </button>
  </div>
  <div *ngIf="previewImage">
    <div *ngFor="let element of imageSrc" class="container-image">
      <button class="close" mat-icon-button (click)="removeFiles(element.name)"><span>&times;</span></button>
      <img [src]="element.path" class="imageUpload">
    </div>
  </div>
</div>
