.default{
    .mask{
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}
.zoom{
    .mask{
        overflow-x: hidden;
        img {
            width: 200%;
            height: auto;
        }
    }
}

@media screen and (min-width: 767px) {

    .default{
        .mask{
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .zoom{
        .mask{
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

}